<%- partial("layouts/info_nav", {current_url: "/goods"}) %>
<div class="title_item">
    <span>当前位置：<a href="/">首页 </a>&gt;<a href="/goods"> 货源 </a>&gt;</span>
    <span class="tag"><%= goods.attrs.scity %>货源信息详情</span>
</div>
<div class="title_item">
    <div class="quanxi_huo">货</div>
    <div class="quanxi_title">
        <p id="quanxi_datitle" class="ln_margin"><%= goods.attrs.infotext %></p>

        <p class="ln_margin">发布时间：<%= DateFormat.TimeAgo(goods.attrs.date * 1000) %></p>
    </div>
</div>
<div class="quanxi_content">
    <div class="quanxi_content_left">
        <p>货物类型：<span
                    id="huo_content_orange"><%= goods.attrs.goodstype ? goods.attrs.goodstype.substr(0,20) : '不详' %></span>
        </p>

        <p>车辆需求：<span
                    id="huo_content"><%= goods.attrs.vehiclelength ? goods.attrs.vehiclelength + '米' : '不详' %>
                <%= goods.attrs.vehicletype ? goods.attrs.vehicletype : '' %></span></p>

        <p>联系方式：<span id="huo_content_1">查看联系方式，<a href="http://resource.logink.org/trade/web/supply_info.jsp" id="quanxi_duanji"
                                                   target="_blank">请联系国家公共信息平台</a></span></p>
    </div>

    <div class="quanxi_content_left">
        <p>&nbsp;&nbsp;&nbsp;重量：<span
                    id="huo_content"><%= goods.attrs.weight ? goods.attrs.weight + '吨' : '不详' %></span>
        </p>

        <p>出发地：<span id="huo_content"><%= goods.attrs.scity %></span></p>
    </div>
</div>