<div class="banner">
    <div class="banner_con">
        <dl class="banner_top">
            <a href="/">
                <dt class="banner_title"></dt>
            </a>
            <dd class="banner_huo">
                <p class="banner_com margin-46">
                    <a href="http://guanjia.jt56.org/butler/carinfoController/carinfo" class="banner_che"></a>
                    <a href="http://guanjia.jt56.org/butler/carinfoController/carinfo" class="banner_txt">发布车源</a>
                </p>

                <p class="banner_com margin-46">
                    <a href="http://guanjia.jt56.org/butler/pubGoods/view" class="ban_huo"></a>
                    <a href="http://guanjia.jt56.org/butler/pubGoods/view" class="banner_txt">发布货源</a>
                </p>

                <p class="banner_com margin-17">
                    <a href="http://guanjia.jt56.org/" class="ban_com"></a>
                    <a href="http://guanjia.jt56.org/" class="banner_txt">企业入驻</a>
                </p>
            </dd>
        </dl>
    </div>
</div>
<div class="w screening">
    <div class="til">
        <%- partial("layouts/info_nav", {current_url: "/trainstore"}) %>
        <div class="line_detail">
            <p class="line_mess">当前位置：<a href="/">首页 </a>&gt;<a href="/trainstore"> 货场 </a>&gt; <span
                        class="line_topic"><%= trainstore.attrs.trainstorename %>信息详情</span></p>

            <div class="line_addr">
                <%= trainstore.attrs.trainstorename %>
                <p class="update">更新时间：<%= DateFormat.Format(trainstore.attrs.date * 1000) %></p>
            </div>
            <dl class="detail_con">
                <dt class="detail_img"><img
                            src="<%= trainstore.attrs.image ? trainstore.attrs.image : '/images/no-trainstore.jpg' %>"
                            width="367"
                            height="264"/></dt>
                <dd class="detail_txt" style="display: none">
                    <p class="detail_p">要查看详细联系方式请：</p>

                    <p class="detail_p"><a id="login_url" href="#" class="detail_blue">登录</a> 或 <a
                                href="http://guanjia.jt56.org/butler/userRegister/register"
                                class="detail_blue">免费注册</a>
                    </p>
                </dd>
                <dd class="detail_txt1" style="display: none">
                    <%
                    if(trainstore.attrs.enterprise)
                    {
                    if(trainstore.attrs.enterprise.enterprisename)
                    {
                    %>
                    <p class="detail_p"><span class="detail_p1">企业名称：</span><span
                                class="detail_p2"><%= trainstore.attrs.enterprise.enterprisename %></span>
                    </p>
                    <%
                    }
                    if(trainstore.attrs.contact)
                    {
                    %>
                    <p class="detail_p"><span class="detail_p1">联 系 人：</span><span
                                class="detail_p2"><%= trainstore.attrs.contact %></span></p>
                    <%
                    }
                    if(trainstore.attrs.phone)
                    {
                    %>
                    <p class="detail_p"><span class="detail_p1">联系电话：</span><span
                                class="detail_p2"><%= trainstore.attrs.phone + (trainstore.attrs.tel ? '/' + trainstore.attrs.tel : '') %></span>
                    </p>
                    <%
                    }
                    if(trainstore.attrs.city)
                    {
                    %>
                    <p class="detail_p"><span class="detail_p1">联系地址：</span><span
                                class="detail_p2"><%= trainstore.attrs.city + trainstore.attrs.address %></span></p>
                    <%
                    }
                    %>
                    <p class="credentials"><span class="detail_p3">企业资质：</span>
                        <%
                        if(trainstore.attrs.enterprise.bizlic && trainstore.attrs.enterprise.bizlic.status == 1)
                        {
                        %>
                        <span class="com_img margin-5"><img src="/images/center_com1.png" title="营业执照" width="32"
                                                            height="23"/></span>
                        <%
                        }
                        else
                        {
                        %>
                        <span class="com_img margin-5"><img src="/images/center_com1.png" title="营业执照" width="32"
                                                            height="23"
                                                            class="grayscale"/></span>
                        <%
                        }

                        if(trainstore.attrs.enterprise.orgcodelic && trainstore.attrs.enterprise.orgcodelic.status == 1)
                        {
                        %>
                        <span class="com_img margin-5"><img src="/images/center_com2.png" title="组织机构代码证" width="32"
                                                            height="23"/></span>
                        <%
                        }
                        else
                        {
                        %>
                        <span class="com_img margin-5"><img src="/images/center_com2.png" title="组织机构代码证" width="32"
                                                            height="23"
                                                            class="grayscale"/></span>
                        <%
                        }

                        if(trainstore.attrs.enterprise.taxlic && trainstore.attrs.enterprise.taxlic.status == 1)
                        {
                        %>
                        <span class="com_img margin-5"><img src="/images/center_com3.png" title="税务登记证" width="32"
                                                            height="23"/></span>
                        <%
                        }
                        else
                        {
                        %>
                        <span class="com_img margin-5"><img src="/images/center_com3.png" title="税务登记证" width="32"
                                                            height="23"
                                                            class="grayscale"/></span>
                        <%
                        }

                        if(trainstore.attrs.enterprise.transbizlic && trainstore.attrs.enterprise.transbizlic.status == 1)
                        {
                        %>
                        <span class="com_img"><img src="/images/center_com4.png" title="企业道路运输营业许可证" width="32"
                                                   height="23"/></span>
                        <%
                        }
                        else
                        {
                        %>
                        <span class="com_img"><img src="/images/center_com4.png" title="企业道路运输营业许可证" width="32"
                                                   height="23"
                                                   class="grayscale"/></span>
                        <%
                        }
                        %>
                    </p>
                    <%
                    }
                    else
                    {
                    %>
                    <p class="credentials"><span class="detail_p3">企业资质：</span><span class="com_img margin-5"><img
                                    src="/images/center_com1.png" title="营业执照" width="32"
                                    height="23" class="grayscale"/></span><span
                                class="com_img margin-5"><img
                                    src="/images/center_com2.png" title="组织机构代码证" width="32" height="23"
                                    class="grayscale"/></span><span
                                class="com_img margin-5"><img src="/images/center_com3.png" title="税务登记证" width="32"
                                                              height="23" class="grayscale"/></span><span
                                class="com_img"><img src="/images/center_com4.png" title="企业道路运输营业许可证" width="32"
                                                     height="23" class="grayscale"/></span></p>
                    <%
                    }
                    %>
                </dd>
            </dl>
            <div class="detail_mess">
                <p class="xiangxi">详细信息</p>
                <ul class="detail_main">
                    <li class="detail_main_li"><span class="initiation">货场类型：</span><span class="checi">
                            <%
                            info_dict.train_store_type.forEach(function (item, index) {
                            if(item.id == trainstore.attrs.trainstoretypecode)
                            {
                            %>
                            <%= item.name %>
                            <%
                            }
                            });
                            %>
                        </span><span class="initiation">货场级别：</span><span class="checi">
                            <%
                            info_dict.train_store_level.forEach(function (item, index) {
                            if(item.id == trainstore.attrs.trainstorelevelcode)
                            {
                            %>
                            <%= item.name %>
                            <%
                            }
                            });
                            %>
                        </span></li>
                    <li class="detail_main_li"><span class="initiation">面积：</span><span
                                class="checi"><%= (trainstore.attrs.trainstorearea && trainstore.attrs.trainstorearea != 0) ? trainstore.attrs.trainstorearea + '㎡' : '不详' %></span>
                        <span class="initiation">年吞吐量：</span><span
                                class="checi"><%= (trainstore.attrs.yearthroughput && trainstore.attrs.yearthroughput != 0) ? trainstore.attrs.yearthroughput + '吨' : '不详' %></span>
                    </li>
                </ul>
            </div>
            <%
            if(trainstore.attrs.freetext)
            {
            %>
            <div class="detail_desc">
                <p class="xiangxi">货场说明</p>
                <ul class="detail_main">
                    <li class="detail_desc_li">
                        <%= trainstore.attrs.freetext %>
                    </li>
                </ul>
            </div>
            <%
            }
            %>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        setTimeout(function () {
            var userInfo = window.userInfo;
            if (!userInfo) {
                var current = window.location.href;
                var loginurl = topurl.login + "?service=" + current;
                $('.detail_txt1').hide();
                $('#login_url').attr('href', loginurl);
                $('.detail_txt').show();
            }
            else {
                $('.detail_txt1').show();
                $('.detail_txt').hide();
            }
        }, 500);
    });
</script>