<link rel="stylesheet" href="/css/jquery.fileupload.css">

<div class="container w1002 tn_margin" id="qiye">

<%- partial("layouts/info_nav", {current_url: "/trainStore/edit"}) %>

<div class="col-lg-10 col-md-10 col-sm-10 youce">
<div class="bg_pale_yellow">
    <div class="col-md-12 pad_topbot_change">
        <h4 class="line_b">更新铁路货场
            <small class="pull-right"><a href="/trainStore">返回铁路货场信息</a></small>
        </h4>
    </div>
</div>
<div id="error_container" class="col-lg-12 col-md-12 col-sm-12" style="display: none">
    <div id="error_content" class="line_search tn_padding bn_padding ln_padding bn_margin">
        <!--<label id="error" class="error"></label>-->
    </div>
</div>
<form id="trainStore-form" class="form-horizontal" action="/trainStore/<%= params.id %>?_method=PUT" method="POST">
<div class="form-group">
    <label for="inputEmail3" class="col-lg-4 col-sm-4 control-label jiben_left"><span class="text_red">*</span>
        货场名称：</label>

    <div class="col-lg-8 col-sm-8 jiben_right"><input type="text" class="form-control w300 inputinline"
                                                      id="trainStoreName"
                                                      name="trainStoreName"
                                                      placeholder="请输入货场名称" value="<%= trainStore.trainStoreName %>">
    </div>
</div>
<div class="form-group">
    <label for="inputEmail3" class="col-lg-4 col-md-4 col-sm-4 control-label jiben_left"><span class="text_red">*</span>
        货场类型：</label>

    <div class="col-lg-8 col-md-8 col-sm-8 jiben_right">
        <% if(locals.train_store_type){
            var index = 0;
                train_store_type.forEach(function(trainStoreType){
        %>
        <div class="pad_select w120 pull-left">
            <div class="radio">
                <label>
                    <% if(trainStoreType.id == trainStore.trainStoreTypeCode){ %>
                    <input type="radio" id="trainStoreType" name="trainStoreTypeCode" class="radio"
                           value="<%= trainStoreType.id %>"
                           checked="checked"/><%= trainStoreType.name %>
                    <% }else{ %>
                    <input type="radio" id="trainStoreType" name="trainStoreTypeCode" class="radio"
                           value="<%= trainStoreType.id %>"/><%= trainStoreType.name %>
                    <% } %>
                </label>
            </div>
        </div>
        <%
            index++;
        });
        } %>
    </div>
</div>

<div class="form-group">
    <label for="inputEmail3" class="col-lg-4 col-sm-4 control-label jiben_left"><span class="text_red">*</span>
        面积：</label>

    <div class="col-lg-8 col-sm-8 jiben_right">
        <input type="text" class="form-control w20 inputinline" id="trainStoreArea" name="trainStoreArea"
               placeholder="0" value="<%= trainStore.trainStoreArea %>">
        m<sup>2</sup>
        <label for="trainStoreArea" class="error"></label>
    </div>
</div>
<div class="form-group">
    <label for="inputEmail3" class="col-lg-4 col-sm-4 control-label jiben_left">可用面积：</label>

    <div class="col-lg-8 col-sm-8 jiben_right">
        <input type="text" class="form-control w20 inputinline" id="useableArea" name="useableArea" placeholder="0"
               value="<%= trainStore.useableArea %>">
        m<sup>2</sup>
        <label for="useableArea" class="error"></label>
    </div>
</div>

<div class="form-group">
    <label for="inputEmail3" class="col-lg-4 col-sm-4 control-label jiben_left">
        <span class="text_red">*</span>堆放货物总量：</label>

    <div class="col-lg-8 col-sm-8 jiben_right">
        <input type="text" class="form-control w20 inputinline" id="goodsTotal" name="goodsTotal" placeholder="0"
               value="<%= trainStore.goodsTotal %>"> 吨
        <label for="goodsTotal" class="error"></label>
    </div>
</div>
<div class="form-group">
    <label for="inputEmail3" class="col-lg-4 col-md-4 col-sm-4 control-label jiben_left"><span class="text_red">*</span>货场级别：</label>

    <div class="col-lg-8 col-md-8 col-sm-8 jiben_right">
        <select id="trainStoreLevelCode" name="trainStoreLevelCode" class="form-control min_hundred w300">
            <% if(locals.train_store_level){
                    train_store_level.forEach(function(trainStoreLevel){
                    if(trainStore.trainStoreLevelCode == trainStoreLevel.id){
            %>
            <option value="<%= trainStoreLevel.id %>" checked><%= trainStoreLevel.name %></option>
            <%
            }else{
            %>
            <option value="<%= trainStoreLevel.id %>"><%= trainStoreLevel.name %></option>
            <%
            }});
            } %>
        </select>
    </div>
</div>
<div class="form-group">
    <label for="inputEmail3" class="col-lg-4 col-sm-4 control-label jiben_left">
        年吞吐量：</label>

    <div class="col-lg-8 col-sm-8 jiben_right">
        <input type="text" class="form-control w20 inputinline" id="yearThroughput" name="yearThroughput"
               placeholder="0" value="<%= trainStore.yearThroughput %>"> 吨
        <label for="yearThroughput" class="error"></label>
    </div>
</div>
<div class="form-group">
    <label for="inputEmail3" class="col-lg-4 col-sm-4 control-label jiben_left"><span class="text_red">*</span>
        所在地：</label>

    <div class="col-lg-8 col-sm-8 jiben_right">
        <div class="w100 pull-left">
            <select class="form-control min_hundred w100" id="provinceCode" name="provinceCode">
            </select>
        </div>
        <div class="w100 pull-left ln_margin">
            <select class="form-control min_hundred w100" id="cityCode" name="cityCode">
            </select>
        </div>
        <div class="w150 pull-left ln_margin">
            <select class="form-control min_hundred w150" id="areaCode" name="areaCode">
            </select>
        </div>
    </div>
</div>
<div class="form-group ">
    <label for="inputEmail3" class="col-sm-4 control-label jiben_left"><span class="text_red">*</span> 具体位置：</label>

    <div class="col-sm-8 jiben_right">
        <input type="text" class="form-control" id="address" name="address" placeholder="请填入详细地址，省市县不需要重复填写"
               value="<%= trainStore.address %>">
    </div>
</div>
<div class="form-group">
    <label for="inputEmail3" class="col-lg-4 col-md-4 col-sm-4 control-label jiben_left">货场说明：</label>

    <div class="col-lg-8 col-md-8 col-sm-8 jiben_right">
        <textarea name="freeText" class="form-control" maxlength="500" rows="3"><%= trainStore.freeText %></textarea>
        <small>(限制500字符)</small>
    </div>
</div>
<div class="form-group">
    <label for="inputEmail3" class="col-lg-4 col-md-4 col-sm-4 control-label jiben_left"><span class="text_red">*</span>联系人：</label>

    <div class="col-lg-3 col-md-3 col-sm-3 jiben_right">
        <input type="text" class="form-control" id="contact" name="contact" placeholder="请填写联系人"
               value="<%= trainStore.contact %>">
    </div>
</div>
<div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label jiben_left"><span class="text_red">*</span> 手机：</label>

    <div class="col-sm-4 jiben_right">
        <input type="text" class="form-control" id="phone" name="phone" maxlength="11"
               placeholder="联系电话和手机必填一项" value="<%= trainStore.phone %>">
    </div>
</div>
<div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label jiben_left">联系电话：</label>

    <div class="col-sm-4 jiben_right">
        <input type="text" class="form-control" id="tel" name="tel" placeholder="联系的电话号码" value="<%= trainStore.tel %>">
    </div>
</div>

<div class="form-group">
    <label for="inputEmail3" class="col-lg-4 col-md-4 col-sm-4 control-label jiben_left">信息有效期：</label>

    <div class="col-lg-8 col-md-8 col-sm-8 jiben_right">
        <% if(locals.validate_type){
                validate_type.forEach(function(validateType){
        %>
        <% if(validateType.id == trainStore.valid){ %>
        <div class="pad_select w75 pull-left">
            <div class="radio">
                <label>
                    <input type="radio" name="valid" value="<%= validateType.id %>" class="radio"
                           checked><%= validateType.name %>
                </label>
            </div>
        </div>
        <% }else{ %>
        <div class="pad_select w75 pull-left">
            <div class="radio">
                <label>
                    <input type="radio" name="valid" value="<%= validateType.id %>"
                           class="radio"><%= validateType.name %>
                </label>
            </div>
        </div>
        <% } });} %>
    </div>
</div>
<div class="form-group">
    <label for="inputEmail3" class="col-lg-4 col-md-4 col-sm-4 control-label jiben_left">发布状态：</label>

    <div class="col-lg-8 col-md-8 col-sm-8 jiben_right">
        <% if(trainStore.status == 1){ %>
        <div class="pad_select w75 pull-left">
            <div class="radio">
                <label>
                    <input type="radio" name="status" value="1" class="radio" checked>发布
                </label>
            </div>
        </div>
        <div class="pad_select w75 pull-left">
            <div class="radio">
                <label>
                    <input type="radio" name="status" value="0" class="radio">不发布
                </label>
            </div>
        </div>
        <% }else{ %>
        <div class="pad_select w75 pull-left">
            <div class="radio">
                <label>
                    <input type="radio" name="status" value="1" class="radio">发布
                </label>
            </div>
        </div>
        <div class="pad_select w75 pull-left">
            <div class="radio">
                <label>
                    <input type="radio" name="status" value="0" class="radio" checked>不发布
                </label>
            </div>
        </div>
        <% } %>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-4 col-md-4 col-sm-4 control-label jiben_left">货场图片：</label>

    <div class="col-lg-8 col-md-8 col-sm-8 jiben_right">
        <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>选择上传的图片</span>
        <!-- The file input field used as target for the file upload widget -->
        <input id="fileupload" type="file" name="files[]" multiple>
        </span>
    </div>
</div>

<input type="hidden" id="province" name="province" value="<%= trainStore.province %>"/>
<input type="hidden" id="city" name="city" value="<%= trainStore.city %>"/>
<input type="hidden" id="area" name="area" value="<%= trainStore.area %>"/>
<input type="hidden" id="trainStore_image" name="image" value="<%= trainStore.image %>"/>

<div class="clearfix"></div>
<div class="form-group">
    <div class="col-sm-1 col-sm-offset-4">
        <button type="submit" class="btn btn-info btn_detail">保存</button>
    </div>
    <div class="col-sm-1">
        <a href="/trainStore" class="btn btn-default btn_detail">返回</a>
    </div>
</div>
</form>
<h4 class="text-primary">发布预览</h4>

<div class="info yulan">
    <div class="info_item">
        <div class="info_title">
            <div class="w210 ln_padding pull-left">
                <span class="pull-left"><strong id="per_trainStoreName"><%= trainStore.trainStoreName %></strong></span>
                <span class="clearfix"></span>
            </div>
            <!--<div class="w100 pull-left">-->
            <!--<small>最新订单：<span class="text-primary">5</span></small>-->
            <!--</div>-->
            <!--<div class="w200 pull-left">-->
            <!--<small>更新时间：2013-15-12 5:20</small>-->
            <!--</div>-->
            <div class="w100 pull-left">
                <small class="dropdown">状态：
                    <a href="#" id="per_status" class="dropdown-toggle"><%= trainStore.statusText %></a>
                </small>
            </div>
            <div class="chaozuo pull-right">
                <!--<div class="shouqi pull-left"><a href="#"><img src="/images/shouqi.png"></a></div>-->
                <div class="delet pull-right"><a href="#"><img src="/images/delet.png"></a></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="info_content">
            <div class=" pull-left w145 tn_padding ln_padding bn_padding">
                <a href="#"><img id="per_image" src="<%= trainStore.image %>" width="135" height="100"></a>
            </div>
            <div class="pull-left w530 tn_padding rn_padding ln_padding lianxi">
                <p>面积：<span id="per_trainStoreArea" class="text-primary"><%= trainStore.trainStoreArea %>㎡</span> |
                    堆放货物总量：<span id="per_goodsTotal"
                                 class="text-primary"><%= trainStore.goodsTotal %>吨</span>
                </p>

                <p>货场类型：<span id="per_trainStoreType" class="text-primary"><%= trainStore.trainStoreType %></span> |
                    联系方式：<span
                            id="per_phone"
                            class="text-primary"><%= trainStore.phone %></span>
                    <span id="per_tel" class="text-primary"><%= trainStore.telText %></span>
                    <span id="per_contact" class="text-primary">    <%= trainStore.contact %></span></p>

                <p>货场级别：<span id="per_trainStoreLevel" class="text-primary"><%= trainStore.trainStoreLevel %></span> |
                    具体位置：<span id="per_city"
                               class="text-primary"><%= trainStore.province + trainStore.city + trainStore.area %></span><span
                            id="per_address"
                            class="text-primary"><%= trainStore.address %></span></p>
            </div>

            <div class="pull-right w80 tl_padding">
                <input class="btn btn-block" type="button" value="查看">
                <input class="btn btn-block tn_margin" type="button" value="修改">
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>

</div>
</div>
<script src="/js/jquery.provincesCity.js" type="text/javascript"></script>
<script src="/js/core/city.js" type="text/javascript"></script>
<script src="/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="/js/jquery.ui.widget.js"></script>
<script src="/js/jquery.fileupload.js"></script>
<script>
    //调用插件
    $(function () {
        $.ProvinceCity('provinceCode', 'cityCode', 'areaCode', function (selectProvince, selectCity, selectArea) {
            $("#province").val(selectProvince);
            $("#city").val(selectCity);
            if (selectArea != "请选择区/县") {
                $("#per_city").html(selectProvince + selectCity + selectArea);
                $("#area").val(selectArea);
            }
            else {
                $("#per_city").html(selectProvince + selectCity);
                $("#area").val('');
            }
        });

        $('#provinceCode').val('<%=trainStore.provinceCode%>').change();
        $('#cityCode').val('<%=trainStore.cityCode%>').change();
        $('#areaCode').val('<%=trainStore.areaCode%>').change();


        $("#trainStoreName").change(function () {
            var trainStoreName = $(this).val();
            if (trainStoreName) {
                $("#per_trainStoreName").html(trainStoreName);
            }
        });

        $("#trainStoreArea").change(function () {
            var trainStoreArea = $(this).val();
            if (trainStoreArea) {
                $("#per_trainStoreArea").html(trainStoreArea + '㎡');
            }
        });

        $("input[name='trainStoreTypeCode']").each(function () {
            $(this).click(function () {
                var parent = $(this).parent();
                $("#per_trainStoreType").html(parent.text());
            });
        });

        $("#trainStoreLevelCode").change(function () {
            var selectedIndex = $(this)[0].selectedIndex;
            $("#per_trainStoreLevel").html($(this)[0].options[selectedIndex].text);
        });

        $("#goodsTotal").change(function () {
            var goodsTotal = $(this).val();
            if (goodsTotal) {
                $("#per_goodsTotal").html(goodsTotal + "吨");
            }
        });

        $("input[name='status']").each(function () {
            $(this).click(function () {
                var status = $(this).val();
                $("#per_status").html((status == 1 ? "已发布" : "未发布"));
            });
        });

        $("#contact").change(function () {
            var contact = $(this).val();
            $("#per_contact").html(contact);
        });
        $("#address").change(function () {
            var address = $(this).val();
            $("#per_address").html(address);
        });
        $("#phone").change(function () {
            var phone = $(this).val();
            $("#per_phone").html(phone);
        });

        $("#tel").change(function () {
            var tel = $(this).val();
            if (tel)
                $("#per_tel").html("/" + tel);
        });


        $.validator.addMethod("isMobile", function (value, element) {
            var length = value.length;
            var mobile = /^(13[0-9]|15[012356789]|18[0236789]|14[57])[0-9]{8}$/;
            return this.optional(element) || (length == 11 && mobile.test(value));
        }, "手机号码格式正不正确");

        $.validator.addMethod("isTel", function (value, element) {
            var tel = /^(0[0-9]{2,3}\-)?([2-9][0-9]{6,7})+(\-[0-9]{1,4})?$/;
            return this.optional(element) || (tel.test(value));
        }, "电话号码格式不正确");

        $('#trainStore-form').validate({
            rules: {
                provinceCode: "required",
                trainStoreName: "required",
                trainStoreArea: {
                    required: true,
                    number: true,
                    min: 0
                },
                useableArea: {
                    number: true,
                    min: 0
                },
                goodsTotal: {
                    required: true,
                    number: true,
                    min: 0
                },
                yearThroughput: {
                    number: true,
                    min: 0
                },
                trainStoreType: "required",
                trainStoreLevel: "required",
                contact: "required",
                address: "required",
                phone: {
                    number: true,
                    minlength: 11
                },
                phone: "isMobile",
                tel: "isTel"
            },
            messages: {
                provinceCode: "所在地必选",
                trainStoreName: "货场名称必填",
                trainStoreArea: {
                    required: "面积必填",
                    number: "面积必须为数字",
                    min: "面积不能少于0"
                },
                useableArea: {
                    number: "可用面积必须为数字",
                    min: "可用面积不能少于0"
                },
                goodsTotal: {
                    required: "堆放货物总量必填",
                    number: "堆放货物总量必须为数字",
                    min: "堆放货物总量不能少于0"
                },
                yearThroughput: {
                    number: "年吞吐量必须为数字",
                    min: "年吞吐量不能少于0"
                },
                trainStoreType: "货场类型必选",
                trainStoreLevel: "货场级别必选",
                contact: "联系人不能为空",
                address: "具体位置不能为空",
                phone: {
                    required: "手机号码不能为空",
                    number: "手机号码必须为数字",
                    minlength: "手机号码长度为11位"
                }
            },
            highlight: function (element) {
                $(element).closest('.control-group').removeClass('success').addClass('error');
            },
            submitHandler: function (form) {
                if ($("#phone").val() == "" && $("#tel").val() == "") {
                    $("#phone").focus();
                    return false;
                }
                form.submit();
            }
        });

        // Change this to the location of your server-side upload handler:
        var url = 'http://img1.jt56.org/upload/trainstore';

        $('#fileupload').fileupload({
            url: url,
            dataType: 'json',
            done: function (e, data) {
                $.each(data.result.files, function (index, file) {
                    $('#per_image').attr("src", file.url);
                    $('#trainStore_image').val(file.url);
                });
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                );
            }
        }).prop('disabled', !$.suptrainStore.fileInput)
                .parent().addClass($.suptrainStore.fileInput ? undefined : 'disabled');
    });
</script>