<div class="container w1002 tn_margin" id="qiye">
    <%- partial("layouts/info_nav", {current_url: "/trainLine"}) %>
    <div class="col-lg-10 col-md-10 col-sm-10 youce">
        <div class="bg_pale_yellow">
            <div class="col-lg-12 col-md-12 col-sm-12 pad_topbot_change">
                <h4 class="lh h4_line">
                    <div class="w120 pull-left ts_padding">铁路专线信息</div>
                    <%
                    function removeURLParameter(url, parameter) {
                        var urlparts = url.split('?');
                        if (urlparts.length >= 2) {
                            var prefix = encodeURIComponent(parameter) + '=';
                            var pars = urlparts[1].split(/[&;]/g);
                            for (var i = pars.length; i-- > 0;)
                                if (pars[i].lastIndexOf(prefix, 0) !== -1)
                                    pars.splice(i, 1);
                            url = urlparts[0] + '?' + pars.join('&');
                            return url;
                        } else {
                            return url;
                        }
                    }
                    base = removeURLParameter(base, 'status');
                    var base_url = base + (base.indexOf('?') < 0 ? '?' : '&') + 'status=';

                            if(status){
                            if(status == 2)
                    {
                    %>
                    <div class="third_nav"><a href="/trainLine">全部信息</a></div>
                    <div class="third_nav third_hover"><a href="<%= base_url %>2">已发布</a></div>
                    <div class="third_nav"><a href="<%= base_url %>1">未发布</a></div>
                    <%
                    }
                    else if(status == 1)
                    {
                    %>
                    <div class="third_nav"><a href="/trainLine">全部信息</a></div>
                    <div class="third_nav"><a href="<%= base_url %>2">已发布</a></div>
                    <div class="third_nav third_hover"><a href="<%= base_url %>1">未发布</a></div>
                    <%
                    }
                    else
                    {
                    %>
                    <div class="third_nav third_hover"><a href="/trainLine">全部信息</a></div>
                    <div class="third_nav"><a href="<%= base_url %>2">已发布</a></div>
                    <div class="third_nav"><a href="<%= base_url %>1">未发布</a></div>
                    <%
                    }
                    }else
                    {
                    %>
                    <div class="third_nav third_hover"><a href="/trainLine">全部信息</a></div>
                    <div class="third_nav"><a href="<%= base_url %>2">已发布</a></div>
                    <div class="third_nav"><a href="<%= base_url %>1">未发布</a></div>
                    <%
                    } %>

                    <a href="/trainLine/add" class="btn pull-right btn-info btn-sm">发布铁路专线</a>
                </h4>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('.info .info_item').hover(function () {
                    $('.info .info_item').removeClass('info_item_hover');
                    $(this).addClass('info_item_hover');
                });
            });
        </script>
        <div class="col-lg-12 col-dm-12 col-sm-12 info tn_margin">
            <% if(locals.trainLines && locals.trainLines.length){
            %>
            <%- partial('trainLine/list', {
                trainLines: trainLines,
                current_page: current_page,
                list_count: list_count,
                pages: pages,
                base: base
            }) %>
            <% }else{
                    if(base == "/trainline" || base == "/trainline/"){ %>
            <div class="info_item">
                <div class="col-lg-12 tl_padding bl_padding text-danger text-center">您还没有发布信息哦，<a href="/trainline/add">赶快去发布信息</a>
                </div>
            </div>
            <% }else{ %>
            <div class="info_item">
                <div class="col-lg-12 tl_padding bl_padding text-danger text-center">对不起，没有找到适合您的信息
                </div>
            </div>
            <% } } %>
        </div>
    </div>
</div>