<%
trainLines.forEach(function(trainLine){
%>
<div class="info_item">
    <div class="info_title">
        <div class="w210 ln_padding pull-left">
            <span class="pull-left"><strong><%=trainLine.trainLineName%></strong></span>
            <span class="clearfix"></span>
        </div>
        <!--<div class="w100 pull-left"><small>最新订单：<span class="text-primary">5</span></small></div>-->
        <div class="w200 pull-left"><small>更新时间：<%= trainLine.updatedAt %></small></div>
        <div class="w100 pull-left">
            <small class="dropdown">状态：
                <a href="#" class="dropdown-toggle"
                   data-toggle="dropdown"><%= trainLine.statusText %> <b class="caret"></b></a>
                <ul class="dropdown-menu nav_bigdropdown">
                    <li><a href="/trainLine/change_status/<%= trainLine.id %>?status=2">已发布</a></li>
                    <li><a href="/trainLine/change_status/<%= trainLine.id %>?status=1">未发布</a></li>
                </ul>
            </small>
        </div>
        <div class="chaozuo pull-right">
            <!--<div class="shouqi pull-left"><a href="#"><img src="images/shouqi.png"></a></div>-->
            <div class="delet pull-right"><a href="javascript:void(0)" onclick="deletetrainLine('<%= trainLine.id %>');return false;"><img src="images/delet.png"></a></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="info_content">
        <div class=" pull-left w145 tn_padding ln_padding bn_padding">
            <a href="#"><img src="<%=trainLine.image%>" width="135" height="100"></a>
        </div>
        <div class="pull-left w530 tn_padding rn_padding ln_padding lianxi">

            <p>日装载量：<span id="per_dayCapacity" class="text-primary"><%= trainLine.dayCapacity %>吨</span> | 年吞吐量：<span id="per_yearCapacity"
                                                                                            class="text-primary"><%= trainLine.yearCapacity %>吨</span>
            </p>

            <p>停放车皮总数量：<span id="per_trainBoxNumber" class="text-primary"><%= trainLine.trainBoxNumber %>辆</span> | 联系方式：<span class="text-primary"><%= trainLine.phone %></span>
                <span class="text-primary"><%= trainLine.tel %></span>
                <span class="text-primary">    <%= trainLine.contact %></span></p>

            <p>具体位置：<%= trainLine.province %><%= trainLine.city %><%= trainLine.area %><%= trainLine.address %></p>
        </div>

        <div class="pull-right w80 tl_padding">
            <input class="btn btn-info" type="button" value="查看">
            <a href="/trainLine/edit/<%= trainLine.id %> " class="btn btn-warning tn_margin">修改</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<% }) %>
<% if(pages > 1){ %>
<div class="col-lg-5 col-sm-offset-4">
    <ul class="pagination" current_page='<%= current_page %>'>
        <%
            function removeURLParameter(url, parameter) {
                var urlparts = url.split('?');
                if (urlparts.length >= 2) {
                    var prefix = encodeURIComponent(parameter) + '=';
                    var pars = urlparts[1].split(/[&;]/g);
                    for (var i = pars.length; i-- > 0;)
                        if (pars[i].lastIndexOf(prefix, 0) !== -1)
                            pars.splice(i, 1);
                    url = urlparts[0] + '?' + pars.join('&');
                    return url;
                } else {
                    return url;
                }
            }
            base = removeURLParameter(base, 'page');
            var base_url = base + (base.indexOf('?') < 0 ? '?' : '&') + 'page=';
        %>
        <% if (current_page == 1) { %>
        <li class='disabled'><a>«</a></li>
        <% } else { %>
        <li><a href="<%= base_url %>1">«</a></li>
        <% } %>

        <%
            var page_start = current_page - 2 > 0 ? current_page - 2 : 1;
            var page_end = page_start + 4 >= pages ? pages : page_start + 4;
        %>

        <% if (page_start > 1) { %>
        <li><a>...</a></li>
        <% } %>

        <% for(var i = page_start; i <= page_end; i++) { %>
        <% if (i === current_page) { %>
        <li><a><%= i %></a></li>
        <% } else { %>
        <li><a href='<%= base_url + i %>'><%= i %></a></li>
        <% } %>
        <% } %>

        <% if (page_end < pages ) { %>
        <li><a>...</a></li>
        <% } %>

        <% if (current_page == pages) { %>
        <li class='disabled'><a>»</a></li>
        <% } else { %>
        <li><a href='<%= base_url + pages %>'>»</a></li>
        <% } %>
    </ul>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var $nav = $('.pagination');
        var current_page = $nav.attr('current_page');
        if (current_page) {
            $nav.find('li').each(function () {
                var $li = $(this);
                var $a = $li.find('a');
                if ($a.html() == current_page) {
                    $li.addClass('active');
                    $a.removeAttr('href');
                }
            });
        }
    });
</script>
<% } %>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog"  style="margin-top:200px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">删除铁路专线</h4>
            </div>
            <div class="modal-body">
                您确定要删除此条专线信息吗？
            </div>
            <div class="modal-footer">
                <a id="btn_delete" href="#" class="btn btn-primary btn-info">确定</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
    $(document).ready(function () {
        $('body').on('hidden', '.modal', function () {
            $(this).removeData('modal');
        });
    });

    function deletetrainLine(trainLineId) {
        $('#deleteModal').modal('show').on('shown.bs.modal',function () {
            $("#btn_delete").attr('href', '/trainline/delete/' + trainLineId);
        });
    }
</script>