<link rel="stylesheet" href="/css/jquery.fileupload.css">

<div class="container w1002 tn_margin" id="qiye">

<%- partial("layouts/info_nav", {current_url: "/vehicle/add"}) %>

<div class="col-lg-10 col-md-10 col-sm-10 youce">
<div class="bg_pale_yellow">
    <div class="col-md-12 pad_topbot_change">
        <h4 class="line_b">发布车源
            <small class="pull-right"><a href="/vehicle">返回我的信息</a></small>
        </h4>
    </div>
</div>
<div id="error_container" class="col-lg-12 col-md-12 col-sm-12" style="display: none">
    <div id="error_content" class="line_search tn_padding bn_padding ln_padding bn_margin">
        <!--<label id="error" class="error"></label>-->
    </div>
</div>
<form id="vehicle-form" class="form-horizontal" action="/vehicle" method="POST">
<div class="form-group">
    <label for="inputEmail3" class="col-lg-4 col-sm-4 control-label jiben_left"><span class="text_red">*</span>
        出发城市：</label>

    <div class="col-lg-8 col-sm-8 jiben_right">
        <div class="w100 pull-left">
            <select id="sProvinceCode" name="sProvinceCode" class="form-control min_hundred w100">
            </select>
        </div>
        <div class="w100 pull-left ln_margin">
            <select id="sCityCode" name="sCityCode" class="form-control min_hundred w100">
            </select>
        </div>
        <div class="w150 pull-left ln_margin">
            <select id="sAreaCode" name="sAreaCode" class="form-control min_hundred w150">
            </select>
        </div>
        <div class="w100 pull-left">
            <label for="sProvinceCode" class="error"></label>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="inputEmail3" class="col-lg-4 col-sm-4 control-label jiben_left">
        到达城市：</label>

    <div class="col-lg-8 col-sm-8 jiben_right">
        <div class="w100 pull-left">
            <select id="eProvinceCode" name="eProvinceCode" class="form-control min_hundred w100">
            </select>
        </div>
        <div class="w100 pull-left ln_margin">
            <select id="eCityCode" name="eCityCode" class="form-control min_hundred w100">
            </select>
        </div>
        <div class="w150 pull-left ln_margin">
            <select id="eAreaCode" name="eAreaCode" class="form-control min_hundred w150">
            </select>
        </div>
        <div class="w100 pull-left">
            <label for="eProvinceCode" class="error"></label>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label jiben_left"><span class="text_red">*</span>车长/车型：</label>

    <div class="col-sm-1 pad_select">
        <input type="text" class="form-control min_fifty" id="vehicleLength" name="vehicleLength" placeholder="0">

        <div class="w150 pull-left">
            <label for="vehicleLength" class="error"></label>
        </div>
    </div>
    <div class="pull-left pad_p">
        <span>米</span>
    </div>
    <div class="w115 col-sm-1 pad_select">
        <select class="form-control min_hundred w100" id="vehicleTypeCode" name="vehicleTypeCode">
            <% if(locals.vehicle_type){
                var index = 0;
                    vehicle_type.forEach(function(vehicleType){
            %>
            <option value="<%= vehicleType.id %>"><%= vehicleType.name %></option>
            <% })} %>
        </select>
    </div>
    <div class="pull-left pad_p">
        <span>车</span>
    </div>
</div>
<div class="form-group">
    <label for="inputEmail3" class="col-lg-4 col-sm-4 control-label jiben_left">
        车牌号：</label>

    <div class="col-lg-8 col-sm-8 jiben_right">
        <input type="text" class="form-control w20 inputinline" id="vehicleNumber" name="vehicleNumber"
               placeholder="请填写车牌号"/>
    </div>
</div>
<div class="form-group">
    <label for="inputEmail3" class="col-lg-4 col-sm-4 control-label jiben_left"><span class="text_red">*</span>
        载重：</label>

    <div class="col-lg-8 col-sm-8 jiben_right">
        <input type="text" class="form-control w20 inputinline" id="loadWeight" name="loadWeight" min="1"
               placeholder="0"> 吨
        <div class="w100">
            <label for="loadWeight" class="error"></label>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="inputEmail3" class="col-lg-4 col-sm-4 control-label jiben_left"><span class="text_red">*</span>
        运价：</label>

    <div class="col-lg-8 col-sm-8 jiben_right">
        <div class="pad_select w210 pull-left"><input type="text" class="form-control w20 inputinline" id="referPrice"
                                                      name="referPrice" min="0" value="0"></div>
        <div class="pad_select w70 pull-left">
            <div class="radio">
                <label>
                    <input type="radio" name="zhuanghuo" name="referPriceFlag" class="radio" value="1" checked>元/吨
                </label>
            </div>
        </div>
        <div class="pad_select w150 pull-left">
            <div class="radio">
                <label>
                    <input type="radio" name="zhuanghuo" name="referPriceFlag" class="radio" value="0">元/方
                </label>
                <small>0表示面议</small>
            </div>
        </div>

    </div>
</div>
<div class="form-group">
    <label for="inputEmail3" class="col-lg-4 col-md-4 col-sm-4 control-label jiben_left">特殊说明：</label>

    <div class="col-lg-8 col-md-8 col-sm-8 jiben_right">
        <textarea class="form-control" id="freeText" name="freeText" maxlength="500" rows="3"></textarea>
        <small>(限制500字符)如有特殊的需求，如货物是危险品、有人押车、卸货地禁区等需要车辆提前了解的重要信息</small>
    </div>
</div>
<div class="form-group">
    <label for="inputEmail3" class="col-lg-4 col-md-4 col-sm-4 control-label jiben_left"><span class="text_red">*</span>联系人：</label>

    <div class="col-lg-3 col-md-3 col-sm-3 jiben_right">
        <input type="text" class="form-control" id="contact" name="contact" placeholder="请填写联系人">
    </div>
    <div class="w150 pull-left">
        <label for="contact" class="error"></label>
    </div>
</div>
<div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label jiben_left"><span class="text_red">*</span> 手机：</label>

    <div class="col-sm-4 jiben_right">
        <input type="text" class="form-control" id="phone" name="phone" maxlength="11"
               placeholder="联系电话和手机必填一项">
    </div>
</div>
<div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label jiben_left">联系电话：</label>

    <div class="col-sm-4 jiben_right">
        <input type="text" class="form-control" id="tel" name="tel" placeholder="联系的电话号码">
    </div>
</div>
<div class="form-group">
    <label for="inputEmail3" class="col-lg-4 col-md-4 col-sm-4 control-label jiben_left">
        装货时间：</label>

    <div class="col-lg-8 col-md-8 col-sm-8 jiben_right">
        <div class="pad_select w90 pull-left">
            <div class="radio">
                <label>
                    <input type="radio" name="loadingTime" class="radio" value="1" checked>随时
                </label>
            </div>
        </div>
        <div class="pad_select w90 pull-left">
            <div class="radio">
                <label>
                    <input type="radio" name="loadingTime" class="radio" value="2">今天
                </label>
            </div>
        </div>
        <div class="pad_select w120 pull-left">
            <div class="radio">
                <label>
                    <input type="radio" name="loadingTime" class="radio" value="3">明天
                    <small><%= moment().add('d', 1).format('YYYY-MM-DD') %></small>
                </label>
            </div>
        </div>
        <div class="pad_select w120 pull-left">
            <div class="radio">
                <label>
                    <input type="radio" name="loadingTime" class="radio" value="4">后天
                    <small><%= moment().add('d', 2).format('YYYY-MM-DD') %></small>
                </label>
            </div>
        </div>
        <div class="pad_select w160 pull-left">
            <div class="radio">
                <label>
                    <input type="radio" name="loadingTime" class="radio" value="5">至少3天后，现在订货
                </label>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="inputEmail3" class="col-lg-4 col-md-4 col-sm-4 control-label jiben_left">信息有效期：</label>

    <div class="col-lg-8 col-md-8 col-sm-8 jiben_right">
        <% if(locals.validate_type){
            var index = 0;
                validate_type.forEach(function(validateType){
        %>
        <% if(index == 0){ %>
        <div class="pad_select w75 pull-left">
            <div class="radio">
                <label>
                    <input type="radio" name="valid" value="<%= validateType.id %>" class="radio"
                           checked><%= validateType.name %>
                </label>
            </div>
        </div>
        <% }else{ %>
        <div class="pad_select w75 pull-left">
            <div class="radio">
                <label>
                    <input type="radio" name="valid" value="<%= validateType.id %>"
                           class="radio"><%= validateType.name %>
                </label>
            </div>
        </div>
        <% } %>
        <%
            index++;
        });
        } %>
    </div>
</div>
<!--<div class="form-group">-->
<!--<label for="inputEmail3" class="col-lg-4 col-md-4 col-sm-4 control-label jiben_left">发布状态：</label>-->

<!--<div class="col-lg-8 col-md-8 col-sm-8 jiben_right">-->
<!--<div class="pad_select w75 pull-left">-->
<!--<div class="radio">-->
<!--<label>-->
<!--<input type="radio" name="status" value="1" class="radio" checked>发布-->
<!--</label>-->
<!--</div>-->
<!--</div>-->
<!--<div class="pad_select w75 pull-left">-->
<!--<div class="radio">-->
<!--<label>-->
<!--<input type="radio" name="status" value="0" class="radio">不发布-->
<!--</label>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div class="form-group">
    <label class="col-lg-4 col-md-4 col-sm-4 control-label jiben_left">货物图片：</label>

    <div class="col-lg-8 col-md-8 col-sm-8 jiben_right">
        <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>选择上传的图片</span>
        <!-- The file input field used as target for the file upload widget -->
        <input id="fileupload" type="file" name="files[]" multiple>
        </span>
    </div>
</div>
<input type="hidden" id="sProvince" name="sProvince"/>
<input type="hidden" id="sCity" name="sCity"/>
<input type="hidden" id="sArea" name="sArea"/>
<input type="hidden" id="eProvince" name="eProvince"/>
<input type="hidden" id="eCity" name="eCity"/>
<input type="hidden" id="eArea" name="eArea"/>
<input type="hidden" id="vehicle_image" name="image"/>

<div class="clearfix"></div>
<div class="form-group">
    <div class="col-sm-1 col-sm-offset-4">
        <button type="submit" class="btn btn-info btn_detail">发布</button>
    </div>
    <div class="col-sm-1">
        <a href="/vehicle/add" class="btn btn-default btn_detail">重置</a>
    </div>
</div>
</form>
<h4 class="text-primary">发布预览</h4>

<div class="info yulan">
    <div class="info_item">
        <div class="info_content">
            <div class=" pull-left w145 tn_padding ln_padding bn_padding">
                <a href="#"><img id="per_image" src="/images/no-vehicle.jpg" width="135" height="100"></a>
            </div>
            <div class="pull-left w400 tn_padding rn_padding ln_padding lianxi">
                <p><a href="#"><strong id="per_scity">未选择</strong>→<strong id="per_ecity">未选择</strong><strong
                                id="per_vehicleText"></strong><strong id="per_vehicleNumber"></strong><strong
                                id="per_goodsText"></strong><strong
                                id="per_freeText"></strong></a></p>

                <p>联系方式：<span id="per_phone" class="text-primary">未填写</span>
                    <span id="per_tel" class="text-primary">/未填写</span>
                    <span id="per_contact" class="text-primary">  未填写</span>
                    <!--发布时间：<span class="text-primary">/span>-->
                </p>

                <p><input class="btn w80 inputinline" type="button" value="立即下单"><input
                            class="btn ln_margin w80 inputinline" type="button" value="查看详情"></p>
            </div>
            <div class="pull-left w220 ln_padding tn_padding xijie">
                <div class="w65 text-right pull-left">车辆类型：</div>
                <div id="per_vehicleType" class="pull-left xijie_xinxi">平板</div>
                <div class="w65 text-right pull-left">车长：</div>
                <div id="per_vehicleLength" class="pull-left xijie_xinxi">未填写</div>
                <div class="w65 text-right pull-left">装货时间：</div>
                <div id="per_loadingTime" class="pull-left xijie_xinxi">随时</div>
                <span class="w65 text-right pull-left">载重：</span>

                <div id="per_loadWeight" class="pull-left xijie_xinxi">未填写</div>
                <span class="w65 text-right pull-left">运价：</span>

                <div id="per_referPrice" class="pull-left xijie_xinxi">面议</div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
</div>
</div>
<script src="/js/jquery.provincesCity.js" type="text/javascript"></script>
<script src="/js/core/city.js" type="text/javascript"></script>
<script src="/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="/js/jquery.ui.widget.js"></script>
<script src="/js/jquery.fileupload.js"></script>
<script>
    //调用插件
    $(function () {
        $.ProvinceCity('sProvinceCode', 'sCityCode', 'sAreaCode', function (selectProvince, selectCity, selectArea) {
            $("#sProvince").val(selectProvince);
            $("#sCity").val(selectCity);
            $("#per_scity").html(selectProvince + selectCity);

            if(!$("#eProvinceCode").val())
            {
                $("#per_ecity").html("全国");
            }

            if (selectArea != "请选择区/县") {
                $("#sArea").val(selectArea);
            }
            else {
                $("#sArea").val('');
            }
        });
        $.ProvinceCity('eProvinceCode', 'eCityCode', 'eAreaCode', function (selectProvince, selectCity, selectArea) {
            $("#eProvince").val(selectProvince);
            $("#eCity").val(selectCity);

            if(!$("#eProvinceCode").val())
            {
                $("#per_ecity").html("全国");
            }
            else{
                $("#per_ecity").html(selectProvince + selectCity);
            }

            if (selectArea != "请选择区/县") {
                $("#eArea").val(selectArea);
            }
            else {
                $("#eArea").val('');
            }
        });

        $("#loadWeight").on("change", function () {
            var loadWeight = $(this).val();

            if (loadWeight != 0) {
                $("#per_loadWeight").html(loadWeight + "吨");
                $("#per_goodsText").html(",求" + loadWeight + "吨货");
            }
        });

        $("#vehicleNumber").on("change", function () {
            var vehicleNumber = $(this).val();

            if (vehicleNumber) {
                $("#per_vehicleNumber").html(",车牌号" + vehicleNumber);
            }
        });

        $("#referPrice").on("change", function () {
            var referPrice = $(this).val();
            var referPriceFlag = $("input[name='referPriceFlag']:checked").val();

            if (referPrice && referPrice != 0) {
                $("#per_referPrice").html(referPrice + (referPriceFlag == 0 ? "元/方" : "元/吨"));
            }
            else
            {
                $("#per_referPrice").html("面议");
            }
        });

        $("input[name='referPriceFlag']").each(function () {
            $(this).click(function () {
                var referPrice = $("#referPrice").val();
                var referPriceFlag = $(this).val();

                if (referPrice && referPrice != 0) {
                    $("#per_referPrice").html(referPrice + (referPriceFlag == 0 ? "元/方" : "元/吨"));
                }
                else
                {
                    $("#per_referPrice").html("面议");
                }
            });
        });

        $("#vehicleTypeCode").on("change", function () {
            var selectedIndex = $(this)[0].selectedIndex;
            var vehicleType = $(this)[0].options[selectedIndex].text;
            var vehicleLength = $("#vehicleLength").val();
            $("#per_vehicleType").html(vehicleType);

            if (vehicleType != 0) {
                $("#per_vehicleText").html(",有" + vehicleLength + "米" + goodsType);
            }
            else {
                $("#per_vehicleText").html(",有" + vehicleLength);
            }
        });

        $("#vehicleLength").on("change", function () {
            var vehicleLength = $(this).val();
            var $vehicleType = $("#vehicleTypeCode");
            var selectedIndex = $vehicleType[0].selectedIndex;
            var vehicleType = $vehicleType[0].options[selectedIndex].text;

            $("#per_vehicleLength").html(vehicleLength);

            if (vehicleType != 0) {
                $("#per_vehicleText").html(",有" + vehicleLength + "米" + vehicleType);
            }
            else {
                $("#per_vehicleText").html(",有" + vehicleType);
            }
        });

        $("#freeText").on("change", function () {
            var freeText = $(this).val();

            if (freeText) {
                $("#per_freeText").html("," + freeText);
            }
        });

        $("input[name='loadingTime']").each(function () {
            $(this).click(function () {
                var parent = $(this).parent();
                $("#per_loadingTime").html(parent.text());
            });
        });

        $("#contact").change(function () {
            var contact = $(this).val();
            $("#per_contact").html(contact);
        });
        $("#phone").change(function () {
            var phone = $(this).val();
            $("#per_phone").html(phone);
        });

        $("#tel").change(function () {
            var tel = $(this).val();
            $("#per_tel").html("/" + tel);
        });

        $.validator.addMethod("isMobile", function (value, element) {
            var length = value.length;
            var mobile = /^(13[0-9]|15[012356789]|18[0236789]|14[57])[0-9]{8}$/;
            return this.optional(element) || (length == 11 && mobile.test(value));
        }, "手机号码格式正不正确");

        $.validator.addMethod("isTel", function (value, element) {
            var tel = /^(0[0-9]{2,3}\-)?([2-9][0-9]{6,7})+(\-[0-9]{1,4})?$/;
            return this.optional(element) || (tel.test(value));
        }, "电话号码格式不正确");

        $('#vehicle-form').validate({
            rules: {
                sProvinceCode: "required",
//                eProvinceCode: "required",
                loadWeight: {
                    required: true,
                    number: true,
                    min: 1
                },
                referPrice: {
                    required: true,
                    number: true
                },
                vehicleLength: {
                    required: true,
                    number: true,
                    min: 2
                },
                vehicleTypeCode: "required",
                contact: "required",
                phone: {
                    number: true,
                    minlength: 11
                },
                phone: "isMobile",
                tel: "isTel"
            },
            messages: {
                sProvinceCode: "出发城市必选",
//                eProvinceCode: "到达城市必选",
                loadWeight: {
                    required: "载重必填",
                    number: "载重必须为数字",
                    min: "载重不能少于0"
                },
                referPrice: {
                    required: "运价必填",
                    number: "运价必须为数字"
                },
                vehicleLength: {
                    required: "车长必填",
                    number: "车长必须为数字",
                    min: "车长不能少于2米"
                },
                vehicleTypeCode: "货物类型必选",
                contact: "联系人不能为空",
                phone: {
                    required: "手机号码不能为空",
                    number: "手机号码必须为数字",
                    minlength: "手机号码长度为11位"
                }
            },
            highlight: function (element) {
                $(element).closest('.control-group').removeClass('success').addClass('error');
            },
            submitHandler: function (form) {
                if ($("#phone").val() == "" && $("#tel").val() == "") {
                    $("#phone").focus();
                    return false;
                }
                form.submit();
            }
        });

        // Change this to the location of your server-side upload handler:
        var url = 'http://img1.jt56.org/upload/vehicle';

        $('#fileupload').fileupload({
            url: url,
            dataType: 'json',
            done: function (e, data) {
                $.each(data.result.files, function (index, file) {
                    $('#per_image').attr("src", file.url);
                    $('#vehicle_image').val(file.url);
                });
            }
        }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');
    });
</script>