<link href="stylesheets/port.css" rel="stylesheet" type="text/css"/>
<form id="form1" action="/port" method="get">
<div class="banner">
<div class="banner_con">
<dl class="banner_top">
    <a href="/"><dt class="banner_title"></dt></a>
    <dd class="banner_huo">
        <p class="banner_com margin-46">
            <a href="http://guanjia.jt56.org/butler/carinfoController/carinfo" class="banner_che"></a>
            <a href="http://guanjia.jt56.org/butler/carinfoController/carinfo" class="banner_txt">发布车源</a>
        </p>
        <p class="banner_com margin-46">
            <a href="http://guanjia.jt56.org/butler/pubGoods/view" class="ban_huo"></a>
            <a href="http://guanjia.jt56.org/butler/pubGoods/view" class="banner_txt">发布货源</a>
        </p>
        <p class="banner_com margin-17">
            <a href="http://guanjia.jt56.org/butler/userRegister/register" class="ban_com"></a>
            <a href="http://guanjia.jt56.org/butler/userRegister/register" class="banner_txt">企业入驻</a>
        </p>
    </dd>
</dl>
<div class="w screening">
    <div class="til">
        <%- partial("layouts/info_nav", {current_url: "/port"}) %>
        <div class="title_item">Hi，本次为您找到 <span id="total_found" class="green"><%= model.total_find %></span>
            条港口信息，总用时：<span
                    id="time_found"><%= model.time %></span>s
        </div>
        <div class="panel">
            <div class="NEWS_city">
                <div class="row">
                    <label class="label" for="from">所在城市：</label>
                    <input id="scity" name="scity" class="citynum"
                           autocomplete="off" value="<%= model.filter.scity %>"/>
                    <a id="chaxun" href="javascript:void(0);" class="chaxun">查&nbsp;&nbsp;询</a>
                </div>
            </div>
            <div class="shousuo up"></div>
            <div class="shaixuankuang">
                <div class="row">
                    <span class="label">港口类型：</span>

                    <div class="item">
                        <%
                        if(model.filter.porttype == '')
                        {
                        %>
                        <span class="item_1"
                              onclick="document.getElementById('porttype').value='';form1.submit();"><a
                                    href="javascript:;">不限</a></span>
                        <%
                        }
                        else
                        {
                        %>
                        <span class="item_1"
                              onclick="document.getElementById('porttype').value='';form1.submit();">不限</span>
                        <%
                        }
                                info_dict.port_type.forEach(function(item){
                                if(item.id == model.filter.porttype)
                        {
                        %>
                        <span class="item_1"
                              onclick="document.getElementById('porttype').value='<%= item.id %>';form1.submit();"><a
                                    href="javascript:;"><%= item.name %></a></span>
                        <%
                        }
                        else
                        {
                        %>
                        <span onclick="document.getElementById('porttype').value='<%= item.id %>';form1.submit();"><%= item.name %></span>
                        <%
                        }
                        }) %>
                    </div>
                </div>

                <div class="row">
                    <span class="label">港口级别：</span>

                    <div class="item">
                        <%
                        if(model.filter.portlevel == '')
                        {
                        %>
                        <span class="item_1"
                              onclick="document.getElementById('portlevel').value='';form1.submit();"><a
                                    href="javascript:;">不限</a></span>
                        <%
                        }
                        else
                        {
                        %>
                        <span class="item_1"
                              onclick="document.getElementById('portlevel').value='';form1.submit();">不限</span>
                        <%
                        }
                                info_dict.port_level.forEach(function(item){
                                if(item.id == model.filter.portlevel)
                        {
                        %>
                        <span class="item_1"
                              onclick="document.getElementById('portlevel').value='<%= item.id %>';form1.submit();"><a
                                    href="javascript:;"><%= item.name %></a></span>
                        <%
                        }
                        else
                        {
                        %>
                        <span onclick="document.getElementById('portlevel').value='<%= item.id %>';form1.submit();"><%= item.name %></span>
                        <%
                        }
                        }) %>
                    </div>
                </div>
                <div class="row">
                    <span class="label">泊位数：</span>

                    <div class="item">
                        <input type="text" id="sa" maxlength="7" value="<%= model.filter.sberth %>"/> - <input type="text"
                                                                                                 id="ea"
                                                                                                 maxlength="7"
                                                                                                 value="<%= model.filter.eberth %>"/>
                        <span>个</span>
                        <input type="button" id="btnGFilter" class="btngl" value="泊位数过滤" onclick="berthFilter()"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="conditionBox" class="selected"><span id="yixuan">已选条件：</span><span
                class="conditionBox">
            <%
            var selected = false;
                    if (model.filter.porttype)
            {
                    info_dict.port_type.forEach(function(item){
                    if(item.id == model.filter.porttype)
            {
            %>
            <span class="condition"><%= item.name %><a class="paramDelBtn" href="javascript:;"
                                                       onclick="removeFilter('porttype')"></a></span>
            <%
                selected = true;
            }
            });
            }
                    if (model.filter.portlevel)
            {
                    info_dict.port_level.forEach(function(item){
                    if(item.id == model.filter.portlevel)
            {
            %>
            <span class="condition"><%= item.name %><a class="paramDelBtn" href="javascript:;"
                                                       onclick="removeFilter('portlevel')"></a></span>
            <%
                selected = true;
            }
            });
            }
                    if (model.filter.sberth && model.filter.eberth) {
            %>
            <span class="condition"><%= model.filter.sberth %> - <%= model.filter.eberth %> 个<a class="paramDelBtn"
                                                                                                href="javascript:;"
                                                                                                onclick="removeFilter('sberth','eberth')"></a></span>
            <%
                selected = true;
            }else if(model.filter.sberth){
            %>
            <span class="condition"><%= model.filter.sberth %>个以上<a class="paramDelBtn" href="javascript:;"
                                                                    onclick="removeFilter('sberth')"></a></span>
            <%
                selected = true;
            }else if(model.filter.eberth){
            %>
            <span class="condition"><%= model.filter.eberth %>个以下<a class="paramDelBtn" href="javascript:;"
                                                                    onclick="removeFilter('eberth')"></a></span>
            <%
                selected = true;
            }
            %>
        </span>
    </div>
    <%
    if(selected)
    {
    %>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#conditionBox').show();
        });
    </script>
    <%
    }
    else{
    %>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#conditionBox').hide();
        });
    </script>
    <%
    }
    %>
</div>
</div>
</div>
<input class="hidden-area" autocomplete="off" type="hidden" name="scitycode" value="<%= model.filter.scitycode %>"/>
<input id="portlevel" name="portlevel" value="<%= model.filter.portlevel %>" type="hidden"/>
<input id="porttype" name="porttype" value="<%= model.filter.porttype %>" type="hidden"/>
<input id="sberth" name="sberth" value="<%= model.filter.sberth %>" type="hidden"/>
<input id="eberth" name="eberth" value="<%= model.filter.eberth %>" type="hidden"/>
</form>
<%- partial("port/list", {
    model: model
}) %>
<script type="text/javascript" charset="utf-8" src="javascripts/city.js"></script>
<script type="text/javascript" charset="utf-8" src="javascripts/citySelector.js"></script>
<script type="text/javascript" src="javascripts/port.js"></script>
<script type="text/javascript" src="javascripts/prompt.js"></script>