<link rel="stylesheet" href="/css/jquery.fileupload.css">

    <div class="container w1002 tn_margin" id="qiye">

    <div class="col-lg-2 col-md-2 col-sm-2 left_bar">
        <h4>信息共享</h4>
        <ul class="sub_nav">
            <li class="li_hover">
                <!--<span class="badge pull-right"><a class="wide_font" href="#">42</a></span>-->
                <a href="/line">专线信息</a>
            </li>
            <li><a href="#">仓库信息</a></li>
            <li><a href="#">港口信息</a></li>
            <li><a href="#">货场信息</a></li>
            <li><a href="#">货源信息</a></li>
            <li><a href="#">车源信息</a></li>
            <li><a href="#">铁路信息</a></li>
        </ul>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 youce">
    <div class="bg_pale_yellow">
        <div class="col-md-12 pad_topbot_change">
            <h4 class="line_b">更新专线
                <small class="pull-right"><a href="/line">返回专线信息</a></small>
            </h4>
        </div>
    </div>
    <div id="error_container" class="col-lg-12 col-md-12 col-sm-12" style="display: none">
        <div id="error_content" class="line_search tn_padding bn_padding ln_padding bn_margin">
            <!--<label id="error" class="error"></label>-->
        </div>
    </div>
    <form id="line-form" class="form-horizontal" action="/line/<%= params.id %>?_method=PUT" method="POST">
    <div class="form-group">
        <label for="inputEmail3" class="col-lg-4 col-sm-4 control-label jiben_left"><span class="text_red">*</span>
            出发城市：</label>

        <div class="col-lg-8 col-sm-8 jiben_right">
            <div class="w100 pull-left">
                <select id="sProvinceCode" name="sProvinceCode" class="form-control min_hundred w100">
                </select>
            </div>
            <div class="w100 pull-left ln_margin">
                <select id="sCityCode" name="sCityCode" class="form-control min_hundred w100">
                </select>
            </div>
            <div class="w150 pull-left ln_margin">
                <select id="sAreaCode" name="sAreaCode" class="form-control min_hundred w150">
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-lg-4 col-sm-4 control-label jiben_left"><span class="text_red">*</span>
            到达城市：</label>

        <div class="col-lg-8 col-sm-8 jiben_right">
            <div class="w100 pull-left">
                <select id="eProvinceCode" name="eProvinceCode" class="form-control min_hundred w100">
                </select>
            </div>
            <div class="w100 pull-left ln_margin">
                <select id="eCityCode" name="eCityCode" class="form-control min_hundred w100">
                </select>
            </div>
            <div class="w150 pull-left ln_margin">
                <select id="eAreaCode" name="eAreaCode" class="form-control min_hundred w150">
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-lg-4 col-sm-4 control-label jiben_left"><span class="text_red">*</span>
            重货价格：</label>

        <div class="col-lg-8 col-sm-8 jiben_right">
            <input type="text" class="form-control w20 inputinline" id="heavyCargoPrice" name="heavyCargoPrice" value="<%=line.heavyCargoPrice%>"/>元/吨
            <small>0表示面议</small>
        </div>
    </div>

    <div class="form-group">
        <label for="inputEmail3" class="col-lg-4 col-sm-4 control-label jiben_left"><span class="text_red">*</span>
            泡货价格：</label>

        <div class="col-lg-8 col-sm-8 jiben_right">
            <input type="text" class="form-control w20 inputinline" id="foamGoodsPrice" name="foamGoodsPrice" value="<%=line.foamGoodsPrice%>"/>元/公斤
            <small>0表示面议</small>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-lg-4 col-md-4 col-sm-4 control-label jiben_left">专线类型：</label>

        <div class="col-lg-4 col-md-4 col-sm-4 jiben_right">
            <% if(locals.line_type){
                var index = 0;
                    line_type.forEach(function(lineType){
            %>
            <div class="pad_select w75 pull-left">
                <div class="radio">
                    <label>
                        <% if(lineType.id == line.lineTypeCode){ %>
                        <input type="radio" name="lineTypeCode" class="radio" value="<%= lineType.id %>"
                               checked="checked"/><%= lineType.name %>
                        <% }else{ %>
                        <input type="radio" name="lineTypeCode" class="radio"
                               value="<%= lineType.id %>"/><%= lineType.name %>
                        <% } %>
                    </label>
                </div>
            </div>
            <%
                index++;
            });
            } %>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-lg-4 col-md-4 col-sm-4 control-label jiben_left">运输方式：</label>

        <div class="col-lg-3 col-md-3 col-sm-3 jiben_right w300">
            <select id="modeTransportCode" name="modeTransportCode" class="form-control min_hundred w300">
                <% if(locals.mode_transport){
                        mode_transport.forEach(function(modeTransport){
                %>
                <option value="<%= modeTransport.id %>"><%= modeTransport.name %></option>
                <% })} %>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-lg-4 col-md-4 col-sm-4 control-label jiben_left">是否直达：</label>

        <div class="col-lg-4 col-md-4 col-sm-4 jiben_right">
            <div class="pad_select w75 pull-left">
                <div class="radio">
                    <label>
                        <input type="radio" id="optionsRadios3" name="isDirect" class="radio" value="1" checked>直达
                    </label>
                </div>
            </div>
            <div class="pad_select w75 pull-left">
                <div class="radio">
                    <label>
                        <input type="radio" id="optionsRadios4" name="isDirect" class="radio" value="0">中转
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-lg-4 col-md-4 col-sm-4 control-label jiben_left">发车班次：</label>

        <div class="col-lg-8 col-md-8 col-sm-8 jiben_right">
            <%if (line.isFrozen == "1"){%>
            <div class="pad_select w75 pull-left">
                <div class="radio">
                    <label>
                        <input type="radio" id="optionsRadios3" name="isFrozen" class="radio" value="1" checked>不固定
                    </label>
                </div>
            </div>
            <div class="pad_select w80 pull-left">
                <div class="radio">
                    <label>
                        <input type="radio" id="optionsRadios4" name="isFrozen" class="radio" value="0">固定班车
                    </label>
                </div>
            </div>
            <%}else{%>
            <div class="pad_select w75 pull-left">
                <div class="radio">
                    <label>
                        <input type="radio" id="optionsRadios3" name="isFrozen" class="radio" value="1">不固定
                    </label>
                </div>
            </div>
            <div class="pad_select w80 pull-left">
                <div class="radio">
                    <label>
                        <input type="radio" id="optionsRadios4" name="isFrozen" class="radio" value="0" checked>固定班车
                    </label>
                </div>
            </div>
            <%}%>
            <div class="col-xs-5 pad_select">
                <div class="radio">每<input type="number" id="transRateDay" name="transRateDay" placeholder="number"
                                           class="w40" value="<%=line.transRateDay%>" min="1" max="31">天<input type="number" id="transRateNumber"
                                                                                          name="transRateNumber" placeholder="number"
                                                                                          class="w40" value="<%=line.transRateNumber%>" min="1">班
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-lg-4 col-md-4 col-sm-4 control-label jiben_left">运输货物：</label>

        <div class="col-lg-8 col-md-8 col-sm-8 jiben_right">

            <% if(locals.line_goods_type){
                var index = 0;
                    line_goods_type.forEach(function(lineGoodsType){
            %>
            <% if(line.lineGoodsType.indexOf(lineGoodsType.id)>=0){ %>
            <label class="checkbox-inline">
                <input type="checkbox" name="lineGoodsType" value="<%= lineGoodsType.id %>" class="radio"
                       checked> <%= lineGoodsType.name %>
            </label>
            <% }else{ %>
            <label class="checkbox-inline">
                <input type="checkbox" name="lineGoodsType" value="<%= lineGoodsType.id %>"
                       class="radio"> <%= lineGoodsType.name %>
            </label>
            <% } %>
            <%
                index++;
            });
            } %>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-lg-4 col-md-4 col-sm-4 control-label jiben_left">在途时间：</label>

        <div class="col-lg-8 col-md-8 col-sm-8 jiben_right">
            <% if(locals.trans_time){
                var index = 0;
                    trans_time.forEach(function(transTime){
            %>
            <% if(transTime.id == line.transTime){ %>
            <div class="pad_select w70 pull-left">
                <div class="radio">
                    <label>
                        <input type="radio" name="transTime" class="radio" value="<%= transTime.id %>"
                               text="<%= transTime.name %>"
                               checked><%= transTime.name %>
                    </label>
                </div>
            </div>
            <% }else{ %>
            <div class="pad_select w70 pull-left">
                <div class="radio">
                    <label>
                        <input type="radio" name="transTime" class="radio" value="<%= transTime.id %>"
                               text="<%= transTime.name %>"><%= transTime.name %>
                    </label>
                </div>
            </div>
            <% } %>
            <%
                index++;
            });
            } %>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-lg-4 col-md-4 col-sm-4 control-label jiben_left">附加说明：</label>

        <div class="col-lg-8 col-md-8 col-sm-8 jiben_right">
            <textarea name="freeText" class="form-control" maxlength="500" rows="3"><%=line.freeText%></textarea>
            <small>(限制500字符)</small>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-lg-4 col-md-4 col-sm-4 control-label jiben_left"><span class="text_red">*</span>起始地联系人：</label>

        <div class="col-lg-3 col-md-3 col-sm-3 jiben_right">
            <input type="text" class="form-control" id="startContact" name="startContact" placeholder="请填写联系人" value="<%=line.startContact%>">
        </div>
    </div>

    <div class="form-group ">
        <label for="inputEmail3" class="col-sm-4 control-label jiben_left"><span class="text_red">*</span> 所在地址：</label>

        <div class="col-sm-8 jiben_right">
            <input type="text" class="form-control" id="startAddress" name="startAddress" placeholder="请填入详细地址，省市县不需要重复填写"  value="<%=line.startAddress%>">
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-4 control-label jiben_left"><span class="text_red">*</span> 手机：</label>

        <div class="col-sm-4 jiben_right">
            <input type="text" class="form-control" id="startPhone" name="startPhone" maxlength="11" placeholder="联系的手机号码"
                   value="<%=line.startPhone%>">
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-4 control-label jiben_left">联系电话：</label>

        <div class="col-sm-1 pad_select">
            <input type="text" class="form-control min_fifty" id="startTel1" name="startTel1" maxlength="4"
                   placeholder="区号" value="<%line.startTel1%>">
        </div>
        <div class="pull-left pad_p">
            <span>-</span>
        </div>
        <div class="col-sm-2 pad_select">
            <input type="text" class="form-control min_hundred" id="startTel2" name="startTel2" maxlength="8"
                   placeholder="电话号" value="<%line.startTel2%>">
        </div>
        <div class="pull-left pad_p">
            <span>-</span>
        </div>
        <div class="col-sm-1 pad_select">
            <input type="text" class="form-control min_fifty" id="startTel3" name="startTel3" maxlength="4"
                   placeholder="分机号" value="<%line.startTel3%>">
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-lg-4 col-md-4 col-sm-4 control-label jiben_left">到达地联系人：</label>

        <div class="col-lg-3 col-md-3 col-sm-3 jiben_right">
            <input type="text" class="form-control" id="endContact" name="endContact" placeholder="请填写联系人" value="<%=line.endContact%>">
        </div>
    </div>

    <div class="form-group ">
        <label for="inputEmail3" class="col-sm-4 control-label jiben_left">所在地址：</label>

        <div class="col-sm-8 jiben_right">
            <input type="text" class="form-control" id="endAddress" name="endAddress" placeholder="请填入详细地址，省市县不需要重复填写"  value="<%=line.endAddress%>">
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-4 control-label jiben_left">手机：</label>

        <div class="col-sm-4 jiben_right">
            <input type="text" class="form-control" id="endPhone" name="endPhone" maxlength="11" placeholder="联系的手机号码"  value="<%=line.endPhone%>">
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-4 control-label jiben_left">联系电话：</label>

        <div class="col-sm-1 pad_select">
            <input type="text" class="form-control min_fifty" id="endTel1" name="endTel1" maxlength="4" placeholder="区号" value="<%line.endTel1%>">
        </div>
        <div class="pull-left pad_p">
            <span>-</span>
        </div>
        <div class="col-sm-2 pad_select">
            <input type="text" class="form-control min_hundred" id="endTel2" name="endTel2" maxlength="8" placeholder="电话号" value="<%line.endTel2%>">
        </div>
        <div class="pull-left pad_p">
            <span>-</span>
        </div>
        <div class="col-sm-1 pad_select">
            <input type="text" class="form-control min_fifty" id="endTel3" name="endTel3" maxlength="4" placeholder="分机号" value="<%line.endTel3%>">
        </div>
    </div>

    <div class="form-group">
        <label for="inputEmail3" class="col-lg-4 col-md-4 col-sm-4 control-label jiben_left">信息有效期：</label>

        <div class="col-lg-8 col-md-8 col-sm-8 jiben_right">
            <% if(locals.validate_type){
                var index = 0;
                    validate_type.forEach(function(validateType){
            %>
            <% if(validateType.id == line.valid){ %>
            <div class="pad_select w75 pull-left">
                <div class="radio">
                    <label>
                        <input type="radio" name="valid" value="<%= validateType.id %>" class="radio"
                               checked><%= validateType.name %>
                    </label>
                </div>
            </div>
            <% }else{ %>
            <div class="pad_select w75 pull-left">
                <div class="radio">
                    <label>
                        <input type="radio" name="valid" value="<%= validateType.id %>"
                               class="radio"><%= validateType.name %>
                    </label>
                </div>
            </div>
            <% } %>
            <%
                index++;
            });
            } %>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-lg-4 col-md-4 col-sm-4 control-label jiben_left">发布状态：</label>

        <div class="col-lg-8 col-md-8 col-sm-8 jiben_right">
            <%if(line.status==1){%>
            <div class="pad_select w75 pull-left">
                <div class="radio">
                    <label>
                        <input type="radio" name="status" value="1" class="radio" checked>发布
                    </label>
                </div>
            </div>
            <div class="pad_select w75 pull-left">
                <div class="radio">
                    <label>
                        <input type="radio" name="status" value="0" class="radio">不发布
                    </label>
                </div>
            </div>
            <%}else{%>
            <div class="pad_select w75 pull-left">
                <div class="radio">
                    <label>
                        <input type="radio" name="status" value="1" class="radio">发布
                    </label>
                </div>
            </div>
            <div class="pad_select w75 pull-left">
                <div class="radio">
                    <label>
                        <input type="radio" name="status" value="0" class="radio" checked>不发布
                    </label>
                </div>
            </div>
            <%}%>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-4 col-md-4 col-sm-4 control-label jiben_left">专线图片：</label>

        <div class="col-lg-8 col-md-8 col-sm-8 jiben_right">
        <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>选择上传的图片</span>
        <!-- The file input field used as target for the file upload widget -->
        <input id="fileupload" type="file" name="files[]" multiple>
        </span>
        </div>
    </div>
    <input type="hidden" id="sProvince" name="sProvince" value="<%=line.sProvince%>"/>
    <input type="hidden" id="sCity" name="sCity" value="<%=line.sCity%>"/>
    <input type="hidden" id="sArea" name="sArea" value="<%=line.sArea%>"/>
    <input type="hidden" id="eProvince" name="eProvince" value="<%=line.eProvince%>"/>
    <input type="hidden" id="eCity" name="eCity" value="<%=line.eCity%>"/>
    <input type="hidden" id="eArea" name="eArea" value="<%=line.eArea%>"/>
    <input type="hidden" id="line_image" name="image" value="<%=line.image%>"/>
    <input type="hidden" id="startTel" name="startTel" value="<%=line.startTel%>"/>
    <input type="hidden" id="endTel" name="endTel" value="<%=line.endTel%>"/>

    <div class="clearfix"></div>
    <div class="form-group">
        <div class="col-sm-1 col-sm-offset-4">
            <button type="submit" class="btn btn-info btn_detail">保存</button>
        </div>
        <div class="col-sm-1">
            <a href="/line" class="btn btn-default btn_detail">返回</a>
        </div>
    </div>
    </form>
    <h4 class="text-primary">发布预览</h4>

    <div class="info yulan">
        <div class="info_item">
            <div class="info_title">
                <div class="w310 ln_padding pull-left">
                    <span id="per_scity" class="pull-left"><%= line.sProvince + line.sCity %></span>
                    <% if(line.lineTypeCode == 1){ %>
                    <span class="zhida"><img id="per_line_type" src="/images/zhida.png"/></span>
                    <% }else{ %>
                    <span class="zhida"><img id="per_line_type" src="/images/wangfan.png"/></span>
                    <% } %>
                    <span id="per_ecity" class="pull-left"><%= line.eProvince + line.eCity %></span>
                    <% if(line.isDirect == 1){ %>
                    <span id="per_is_direct" class="pull-left">(直达)</span>
                    <% }else{ %>
                    <span id="per_is_direct" class="pull-left">(中转)</span>
                    <% } %>
                </div>
                <!--<div class="w100 pull-left"><small>最新订单：<span class="text-primary">5</span></small></div>-->
                <div class="w200 pull-left">
                    <small>更新时间：<%= line.updatedAt %></small>
                </div>
                <div class="w200 pull-left">
                    <small class="dropdown">状态：
                        <a href="#" id="per_status" class="dropdown-toggle"
                           data-toggle="dropdown"><%= line.statusText %> </a>
                    </small>
                </div>

                <div class="chaozuo pull-right">
                    <div class="shouqi pull-left"><a href="#"><img src="/images/shouqi.png"></a></div>
                    <div class="delet pull-right"><a href="#"><img src="/images/delet.png"></a></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="info_content">
                <div class=" pull-left w145 tn_padding ln_padding bn_padding">
                    <a href="#"><img id="perview_image" src="<%= line.image %>" width="135" height="100"></a>
                </div>
                <div class="pull-left w305 tn_padding rn_padding ln_padding lianxi">
                    <p>始发地址：<span id="per_startAddress"><%= line.startAddress %></span></p>

                    <p>联系方式：<span id="per_startPhone" class="text-primary"><%= line.startPhone %></span>
                        <span id="per_startTel" class="text-primary">/<%= line.startTel %></span>
                        <span id="per_startContact" class="text-primary">    <%= line.startContact %></span></p>

                    <p>到达地址：<span id="per_endAddress"><%= line.startAddress %></span></p>

                    <p>联系方式：<span id="per_endPhone" class="text-primary"><%= line.endPhone %></span>
                        <span id="per_endTel" class="text-primary">/<%= line.startTel %></span>
                        <span id="per_endContact" class="text-primary">    <%= line.startContact %></span></p>
                </div>
                <div class="pull-left w145 ln_padding tn_padding xijie">
                    <div class="w65 text-right pull-left">重货价格：</div>
                    <div id="per_heavyCargoPrice" class="pull-left"><%= line.heavyCargoPriceText %></div>
                    <div class="w65 text-right pull-left">泡货价格：</div>
                    <div id="per_foamGoodsPrice" class="pull-left"><%= line.foamGoodsPriceText %></div>
                    <span class="w65 text-right pull-left">运输方式：</span>

                    <div id="per_modeTransport" class="pull-left"><%= line.modeTransport %></div>
                    <span class="w65 text-right pull-left">发车班次：</span>

                    <div id="per_transRate" class="pull-left"><%= line.transRate %></div>
                    <span class="w65 text-right pull-left">在途时间：</span>

                    <div id="per_transTime" class="pull-left"><%= line.transTimeText %></div>
                </div>
                <div class="pull-right w80 tl_padding">
                    <input class="btn btn-block" type="button" value="查看">
                    <input class="btn btn-block tn_margin" type="button" value="修改">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <script src="/js/jquery.provincesCity.js" type="text/javascript"></script>
    <script src="/js/core/city.js" type="text/javascript"></script>
    <script src="/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/js/jquery.ui.widget.js"></script>
    <script src="/js/jquery.fileupload.js"></script>
    <script>
    //调用插件
    $(function () {
        $.ProvinceCity('sProvinceCode', 'sCityCode', 'sAreaCode', function (selectProvince, selectCity, selectArea) {
            $("#sProvince").val(selectProvince);
            $("#sCity").val(selectCity);
            $("#sArea").val(selectArea);
            $("#per_scity").html(selectProvince + selectCity);
        });
        $.ProvinceCity('eProvinceCode', 'eCityCode', 'eAreaCode', function (selectProvince, selectCity, selectArea) {
            $("#eProvince").val(selectProvince);
            $("#eCity").val(selectCity);
            $("#eArea").val(selectArea);
            $("#per_ecity").html(selectProvince + selectCity);
        });

        $('#sProvinceCode').val('<%=line.sProvinceCode%>').change();
        $('#sCityCode').val('<%=line.sCityCode%>').change();
        $('#sAreaCode').val('<%=line.sAreaCode%>').change();

        $('#eProvinceCode').val('<%=line.eProvinceCode%>').change();
        $('#eCityCode').val('<%=line.eCityCode%>').change();
        $('#eAreaCode').val('<%=line.eAreaCode%>').change();

        $("input[name='lineTypeCode']").each(function () {
            $(this).click(function () {
                var lineType = $(this).val();
                $("#per_line_type").attr("src", (lineType == 1 ? "/images/zhida.png" : "/images/wangfan.png"));
            });
        });

        $("input[name='isDirect']").each(function () {
            $(this).click(function () {
                var isDirect = $(this).val();
                $("#per_is_direct").html("(" + (isDirect == 1 ? "直达" : "中转") + ")");
            });
        });

        $("input[name='status']").each(function () {
            $(this).click(function () {
                var status = $(this).val();
                $("#per_status").html((status == 1 ? "已发布" : "未发布"));
            });
        });


        $("#heavyCargoPrice").blur(function () {
            var heavyCargoPrice = $(this).val();
            if (heavyCargoPrice == 0)
                $("#per_heavyCargoPrice").html("面议");
            else
                $("#per_heavyCargoPrice").html(heavyCargoPrice);
        });

        $("#foamGoodsPrice").blur(function () {
            var foamGoodsPrice = $(this).val();
            if (foamGoodsPrice == 0)
                $("#per_foamGoodsPrice").html("面议");
            else
                $("#per_foamGoodsPrice").html(foamGoodsPrice);
        });

        $("#modeTransportCode").change(function () {
            var selectedIndex = $(this)[0].selectedIndex;
            $("#per_modeTransport").html($(this)[0].options[selectedIndex].text);
        });

        $("input[name='isFrozen']").each(function () {
            $(this).click(function () {
                var isFrozen = $(this).val();
                if (isFrozen == 1) {
                    $("#per_transRate").html("不固定");
                }
                else {
                    $("#per_transRate").html("每" + $("#transRateDay").val() + "天" + $("#transRateNumber").val() + "班");
                }
            });
        });

        $("#transRateDay").change(function () {
            var isFrozen = $("input[name='isFrozen']:checked").val();
            if (isFrozen == 0)
                $("#per_transRate").html("每" + $("#transRateDay").val() + "天" + $("#transRateNumber").val() + "班");
        });

        $("#transRateNumber").change(function () {
            var isFrozen = $("input[name='isFrozen']:checked").val();
            if (isFrozen == 0)
                $("#per_transRate").html("每" + $("#transRateDay").val() + "天" + $("#transRateNumber").val() + "班");
        });


        $("input[name='transTime']").each(function () {
            $(this).click(function () {
                var transTime = $(this).attr("text");
                $("#per_transTime").html(transTime);
            });
        });

        $("#startContact").change(function(){
            var startContact=$(this).val();
            $("#per_startContact").html(startContact);
        });
        $("#startAddress").change(function(){
            var startAddress=$(this).val();
            $("#per_startAddress").html(startAddress);
        });
        $("#startPhone").change(function(){
            var startPhone=$(this).val();
            $("#per_startPhone").html(startPhone);
        });

        $("#startTel1").change(function(){
            var startTel="";
            var startTel1=$("#startTel1").val();
            var startTel2=$("#startTel2").val();
            var startTel3=$("#startTel3").val();

            if(startTel1)
                startTel+=startTel1;
            if(startTel2)
                startTel+="-"+startTel2;
            if(startTel3)
                startTel+="-"+startTel3;

            if(startTel)
            {
                if(startTel.substr(0,1)=="-")
                    startTel=startTel.substr(1,startTel.length-2);
            }

            $("#startTel").val(startTel);
            $("#per_startTel").html("/"+startTel);
        });
        $("#startTel2").change(function(){
            var startTel="";
            var startTel1=$("#startTel1").val();
            var startTel2=$("#startTel2").val();
            var startTel3=$("#startTel3").val();

            if(startTel1)
                startTel+=startTel1;
            if(startTel2)
                startTel+="-"+startTel2;
            if(startTel3)
                startTel+="-"+startTel3;

            if(startTel)
            {
                if(startTel.substr(0,1)=="-")
                    startTel=startTel.substr(1,startTel.length-2);
            }

            $("#startTel").val(startTel);
            $("#per_startTel").html("/"+startTel);
        });
        $("#startTel3").change(function(){
            var startTel="";
            var startTel1=$("#startTel1").val();
            var startTel2=$("#startTel2").val();
            var startTel3=$("#startTel3").val();

            if(startTel1)
                startTel+=startTel1;
            if(startTel2)
                startTel+="-"+startTel2;
            if(startTel3)
                startTel+="-"+startTel3;

            if(startTel)
            {
                if(startTel.substr(0,1)=="-")
                    startTel=startTel.substr(1,startTel.length-2);
            }

            $("#startTel").val(startTel);
            $("#per_startTel").html("/"+startTel);
        });

        $("#endContact").change(function(){
            var endContact=$(this).val();
            $("#per_endContact").html(endContact);
        });
        $("#endAddress").change(function(){
            var endAddress=$(this).val();
            $("#per_endAddress").html(endAddress);
        });
        $("#endPhone").change(function(){
            var endPhone=$(this).val();
            $("#per_endPhone").html(endPhone);
        });

        $("#endTel1").change(function(){
            var endTel="";
            var endTel1=$("#endTel1").val();
            var endTel2=$("#endTel2").val();
            var endTel3=$("#endTel3").val();

            if(endTel1)
                endTel+=endTel1;
            if(endTel2)
                endTel+="-"+endTel2;
            if(endTel3)
                endTel+="-"+endTel3;

            if(endTel)
            {
                if(endTel.substr(0,1)=="-")
                    endTel=endTel.substr(1,endTel.length-2);
            }

            $("#endTel").html(endTel);
            $("#per_endTel").html("/"+endTel);
        });
        $("#endTel2").change(function(){
            var endTel="";
            var endTel1=$("#endTel1").val();
            var endTel2=$("#endTel2").val();
            var endTel3=$("#endTel3").val();

            if(endTel1)
                endTel+=endTel1;
            if(endTel2)
                endTel+="-"+endTel2;
            if(endTel3)
                endTel+="-"+endTel3;

            if(endTel)
            {
                if(endTel.substr(0,1)=="-")
                    endTel=endTel.substr(1,endTel.length-2);
            }

            $("#endTel").html(endTel);
            $("#per_endTel").html("/"+endTel);
        });
        $("#endTel3").change(function(){
            var endTel="";
            var endTel1=$("#endTel1").val();
            var endTel2=$("#endTel2").val();
            var endTel3=$("#endTel3").val();

            if(endTel1)
                endTel+=endTel1;
            if(endTel2)
                endTel+="-"+endTel2;
            if(endTel3)
                endTel+="-"+endTel3;

            if(endTel)
            {
                if(endTel.substr(0,1)=="-")
                    endTel=endTel.substr(1,endTel.length-2);
            }

            $("#endTel").html(endTel);
            $("#per_endTel").html("/"+endTel);
        });

//    $('#line-form').validate({
//        rules: {
//            sProvinceCode: "required",
////                sCityCode:"required",
//            eProvinceCode: "required",
////                eCityCode:"required",
//            heavyCargoPrice: {
//                required: true,
//                number: true,
//                min: 0
//            },
//            foamGoodsPrice: {
//                required: true,
//                number: true,
//                min: 0
//            },
//            lineGoodsType: "required",
//            startContact: "required",
//            startAddress: "required",
//            startPhone: {
//                required: true,
//                number: true,
//                minlength: 11
//            },
//            startTel1: {
//                number: true,
//                minlength: 3,
//                maxlength: 4
//            },
//            startTel2: {
//                number: true,
//                minlength: 7,
//                maxlength: 8
//            },
//            startTel3: {
//                number: true
//            },
//            endPhone: {
//                number: true,
//                minlength: 11
//            },
//            endTel1: {
//                number: true,
//                minlength: 3,
//                maxlength: 4
//            },
//            endTel2: {
//                number: true,
//                minlength: 7,
//                maxlength: 8
//            },
//            endTel3: {
//                number: true
//            }
//        },
//        messages: {
//            sProvinceCode: "出发城市必选",
//            eProvinceCode: "到达城市必选",
//            heavyCargoPrice: {
//                required: "重货价格必填",
//                number: "价格必须为数字",
//                min: "价格不能少于0"
//            },
//            foamGoodsPrice: {
//                required: "泡货价格必填",
//                number: "价格必须为数字",
//                min: "价格不能少于0"
//            },
//            lineGoodsType: "运输货物必选",
//            startContact: "联系人不能为空",
//            startAddress: "所在地址不能为空",
//            startPhone: {
//                required: "手机号码不能为空",
//                number: "手机号码必须为数字",
//                minlength: "手机号码长度为11位"
//            },
//            startTel1: {
//                number: "区号必须为数字",
//                minlength: "区号长度最少为3位",
//                maxlength: "区号长度最长为4位"
//            },
//            startTel2: {
//                number: "电话号码必须为数字",
//                minlength: "电话号码长度最少为7位",
//                maxlength: "电话号码长度最长为8位"
//            },
//            startTel3: {
//                number: "分机号码必须为数字"
//            },
//            endPhone: {
//                number: "手机号码必须为数字",
//                minlength: "手机号码长度为11位"
//            },
//            endTel1: {
//                number: "区号必须为数字",
//                minlength: "区号长度最少为3位",
//                maxlength: "区号长度最长为4位"
//            },
//            endTel2: {
//                number: "电话号码必须为数字",
//                minlength: "电话号码长度最少为7位",
//                maxlength: "电话号码长度最长为8位"
//            },
//            endTel3: {
//                number: "分机号码必须为数字"
//            }
//        },
////            invalidHandler: function(event, validator) {
////                // 'this' refers to the form
////                var errors = validator.numberOfInvalids();
////                if (errors) {
////                    var message ='You missed ' + errors + ' fields. They have been highlighted';
////                    $("#error").html(validator.errorList[0].message);
////                    $("#error_container").show();
////                } else {
////                    $("#error_container").hide();
////                }
////            },
////            showErrors: function (errorMap, errorList) {
////                var errors = this.numberOfInvalids();
////                if (errors && errorList) {
////                    $("#error").html(errorList[0].message);
////                    $("#error_container").show();
////                } else {
////                    $("#error_container").hide();
////                }
////            },
//        highlight: function (element) {
//            $(element).closest('.control-group').removeClass('success').addClass('error');
//        },
//        submitHandler: function () {
//            $("#line-form").submit();
//            $("#error_container").hide();
//        }
//    });

        // Change this to the location of your server-side upload handler:
        var url = 'http://localhost:3001/upload/line';

        $('#fileupload').fileupload({
            url: url,
            dataType: 'json',
            done: function (e, data) {
                $.each(data.result.files, function (index, file) {
                    $('#perview_image').attr("src", file.url);
                    $('#line_image').val(file.url);
                });
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                );
            }
        }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');
    });
    </script>