<div class="control-group">
  <label for="sProvinceCode" class="control-label">sProvinceCode</label>
  <div class="controls">
      <input name="sProvinceCode" type="text" class="span6" value="<%=line.sProvinceCode %>" />
  </div>
</div>
<div class="control-group">
  <label for="sProvince" class="control-label">sProvince</label>
  <div class="controls">
      <input name="sProvince" type="text" class="span6" value="<%=line.sProvince %>" />
  </div>
</div>
<div class="control-group">
  <label for="sCityCode" class="control-label">sCityCode</label>
  <div class="controls">
      <input name="sCityCode" type="text" class="span6" value="<%=line.sCityCode %>" />
  </div>
</div>
<div class="control-group">
  <label for="sCity" class="control-label">sCity</label>
  <div class="controls">
      <input name="sCity" type="text" class="span6" value="<%=line.sCity %>" />
  </div>
</div>
<div class="control-group">
  <label for="sAreaCode" class="control-label">sAreaCode</label>
  <div class="controls">
      <input name="sAreaCode" type="text" class="span6" value="<%=line.sAreaCode %>" />
  </div>
</div>
<div class="control-group">
  <label for="sArea" class="control-label">sArea</label>
  <div class="controls">
      <input name="sArea" type="text" class="span6" value="<%=line.sArea %>" />
  </div>
</div>
<div class="control-group">
  <label for="eProvinceCode" class="control-label">eProvinceCode</label>
  <div class="controls">
      <input name="eProvinceCode" type="text" class="span6" value="<%=line.eProvinceCode %>" />
  </div>
</div>
<div class="control-group">
  <label for="eProvince" class="control-label">eProvince</label>
  <div class="controls">
      <input name="eProvince" type="text" class="span6" value="<%=line.eProvince %>" />
  </div>
</div>
<div class="control-group">
  <label for="eCityCode" class="control-label">eCityCode</label>
  <div class="controls">
      <input name="eCityCode" type="text" class="span6" value="<%=line.eCityCode %>" />
  </div>
</div>
<div class="control-group">
  <label for="eCity" class="control-label">eCity</label>
  <div class="controls">
      <input name="eCity" type="text" class="span6" value="<%=line.eCity %>" />
  </div>
</div>
<div class="control-group">
  <label for="eAreaCode" class="control-label">eAreaCode</label>
  <div class="controls">
      <input name="eAreaCode" type="text" class="span6" value="<%=line.eAreaCode %>" />
  </div>
</div>
<div class="control-group">
  <label for="eArea" class="control-label">eArea</label>
  <div class="controls">
      <input name="eArea" type="text" class="span6" value="<%=line.eArea %>" />
  </div>
</div>
<div class="control-group">
  <label for="image" class="control-label">image</label>
  <div class="controls">
      <input name="image" type="text" class="span6" value="<%=line.image %>" />
  </div>
</div>
<div class="control-group">
  <label for="heavyCargoPrice" class="control-label">heavyCargoPrice</label>
  <div class="controls">
      <input name="heavyCargoPrice" type="text" class="span6" value="<%=line.heavyCargoPrice %>" />
  </div>
</div>
<div class="control-group">
  <label for="foamGoodsPrice" class="control-label">foamGoodsPrice</label>
  <div class="controls">
      <input name="foamGoodsPrice" type="text" class="span6" value="<%=line.foamGoodsPrice %>" />
  </div>
</div>
<div class="control-group">
  <label for="lineTypeCode" class="control-label">lineTypeCode</label>
  <div class="controls">
      <input name="lineTypeCode" type="text" class="span6" value="<%=line.lineTypeCode %>" />
  </div>
</div>
<div class="control-group">
  <label for="lineType" class="control-label">lineType</label>
  <div class="controls">
      <input name="lineType" type="text" class="span6" value="<%=line.lineType %>" />
  </div>
</div>
<div class="control-group">
  <label for="modeTransportCode" class="control-label">modeTransportCode</label>
  <div class="controls">
      <input name="modeTransportCode" type="text" class="span6" value="<%=line.modeTransportCode %>" />
  </div>
</div>
<div class="control-group">
    <label for="modeTransport" class="control-label">modeTransport</label>
    <div class="controls">
        <input name="modeTransport" type="text" class="span6" value="<%=line.modeTransport %>" />
    </div>
</div>
<div class="control-group">
  <label for="isDirect" class="control-label">isDirect</label>
  <div class="controls">
      <input name="isDirect" type="text" class="span6" value="<%=line.isDirect %>" />
  </div>
</div>
<div class="control-group">
  <label for="transRateDay" class="control-label">transRateDay</label>
  <div class="controls">
      <input name="transRateDay" type="number" class="span2" value="<%=line.transRateDay %>" />
  </div>
</div>
<div class="control-group">
  <label for="transRateNumber" class="control-label">transRateNumber</label>
  <div class="controls">
      <input name="transRateNumber" type="number" class="span2" value="<%=line.transRateNumber %>" />
  </div>
</div>
<div class="control-group">
  <label for="isFrozen" class="control-label">isFrozen</label>
  <div class="controls">
      <input name="isFrozen" type="number" class="span2" value="<%=line.isFrozen %>" />
  </div>
</div>
<div class="control-group">
  <label for="lineGoodsType" class="control-label">lineGoodsType</label>
  <div class="controls">
      <input name="lineGoodsType" type="text" class="span6" value="<%=line.lineGoodsType %>" />
  </div>
</div>
<div class="control-group">
  <label for="transTime" class="control-label">transTime</label>
  <div class="controls">
      <input name="transTime" type="text" class="span6" value="<%=line.transTime %>" />
  </div>
</div>
<div class="control-group">
  <label for="startContact" class="control-label">startContact</label>
  <div class="controls">
      <input name="startContact" type="text" class="span6" value="<%=line.startContact %>" />
  </div>
</div>
<div class="control-group">
  <label for="startAddress" class="control-label">startAddress</label>
  <div class="controls">
      <textarea name="startAddress" rows="10" class="span6" value="<%=line.startAddress %>" />
  </div>
</div>
<div class="control-group">
  <label for="startTel" class="control-label">startTel</label>
  <div class="controls">
      <input name="startTel" type="text" class="span6" value="<%=line.startTel %>" />
  </div>
</div>
<div class="control-group">
  <label for="startPhone" class="control-label">startPhone</label>
  <div class="controls">
      <input name="startPhone" type="text" class="span6" value="<%=line.startPhone %>" />
  </div>
</div>
<div class="control-group">
  <label for="endContact" class="control-label">endContact</label>
  <div class="controls">
      <input name="endContact" type="text" class="span6" value="<%=line.endContact %>" />
  </div>
</div>
<div class="control-group">
  <label for="endAddress" class="control-label">endAddress</label>
  <div class="controls">
      <textarea name="endAddress" rows="10" class="span6" value="<%=line.endAddress %>" />
  </div>
</div>
<div class="control-group">
  <label for="endTel" class="control-label">endTel</label>
  <div class="controls">
      <input name="endTel" type="text" class="span6" value="<%=line.endTel %>" />
  </div>
</div>
<div class="control-group">
  <label for="endPhone" class="control-label">endPhone</label>
  <div class="controls">
      <input name="endPhone" type="text" class="span6" value="<%=line.endPhone %>" />
  </div>
</div>
<div class="control-group">
  <label for="validate" class="control-label">validate</label>
  <div class="controls">
      <input name="validate" type="text" class="span6" value="<%=line.validate %>" />
  </div>
</div>
<div class="control-group">
  <label for="expiryDate" class="control-label">expiryDate</label>
  <div class="controls">
      <input name="expiryDate" type="datetime" class="span3" value="<%=line.expiryDate %>" />
  </div>
</div>
<div class="control-group">
  <label for="status" class="control-label">status</label>
  <div class="controls">
      <input name="status" type="number" class="span2" value="<%=line.status %>" />
  </div>
</div>
<div class="control-group">
  <label for="freeText" class="control-label">freeText</label>
  <div class="controls">
      <textarea name="freeText" rows="10" class="span6" value="<%=line.freeText %>" />
  </div>
</div>
<div class="control-group">
  <label for="eId" class="control-label">eId</label>
  <div class="controls">
      <input name="eId" type="text" class="span6" value="<%=line.eId %>" />
  </div>
</div>
<div class="control-group">
  <label for="createrId" class="control-label">createrId</label>
  <div class="controls">
      <input name="createrId" type="text" class="span6" value="<%=line.createrId %>" />
  </div>
</div>
<div class="control-group">
  <label for="updaterId" class="control-label">updaterId</label>
  <div class="controls">
      <input name="updaterId" type="text" class="span6" value="<%=line.updaterId %>" />
  </div>
</div>
