<div class="form-group">
    <label for="sProvinceCode" class="col-sm-2 control-label">sProvinceCode</label>

    <div class="col-sm-10">
        <input name="sProvinceCode" type="text" class="form-control" value="<%= line.sProvinceCode %>"/>
    </div>
</div>
<div class="form-group">
    <label for="sProvince" class="col-sm-2 control-label">sProvince</label>

    <div class="col-sm-10">
        <input name="sProvince" type="text" class="form-control" value="<%= line.sProvince %>"/>
    </div>
</div>
<div class="form-group">
    <label for="sCityCode" class="col-sm-2 control-label">sCityCode</label>

    <div class="col-sm-10">
        <input name="sCityCode" type="text" class="form-control" value="<%= line.sCityCode %>"/>
    </div>
</div>
<div class="form-group">
    <label for="sCity" class="col-sm-2 control-label">sCity</label>

    <div class="col-sm-10">
        <input name="sCity" type="text" class="form-control" value="<%= line.sCity %>"/>
    </div>
</div>
<div class="form-group">
    <label for="sAreaCode" class="col-sm-2 control-label">sAreaCode</label>

    <div class="col-sm-10">
        <input name="sAreaCode" type="text" class="form-control" value="<%= line.sAreaCode %>"/>
    </div>
</div>
<div class="form-group">
<label for="sArea" class="col-sm-2 control-label">sArea</label>

<div class="col-sm-10">
    <input name="sArea" type="text" class="form-control" value="<%= line.sArea %>"/>
</div>
</div>
<div class="form-group">
    <label for="eProvinceCode" class="col-sm-2 control-label">eProvinceCode</label>

    <div class="col-sm-10">
        <input name="eProvinceCode" type="text" class="form-control" value="<%= line.eProvinceCode %>"/>
    </div>
</div>
<div class="form-group">
<label for="eProvince" class="col-sm-2 control-label">eProvince</label>

<div class="col-sm-10">
    <input name="eProvince" type="text" class="form-control" value="<%= line.eProvince %>"/>
</div>
</div>
<div class="form-group">
    <label for="eCityCode" class="col-sm-2 control-label">eCityCode</label>

    <div class="col-sm-10">
        <input name="eCityCode" type="text" class="form-control" value="<%= line.eCityCode %>"/>
    </div>
</div>
<div class="form-group">
    <label for="eCity" class="col-sm-2 control-label">eCity</label>

    <div class="col-sm-10">
        <input name="eCity" type="text" class="form-control" value="<%= line.eCity %>"/>
    </div>
</div>
<div class="form-group">
    <label for="eAreaCode" class="col-sm-2 control-label">eAreaCode</label>

    <div class="col-sm-10">
        <input name="eAreaCode" type="text" class="form-control" value="<%= line.eAreaCode %>"/>
    </div>
</div>
<div class="form-group">
    <label for="eArea" class="col-sm-2 control-label">eArea</label>

    <div class="col-sm-10">
        <input name="eArea" type="text" class="form-control" value="<%= line.eArea %>"/>
    </div>
</div>
<div class="form-group">
    <label for="image" class="col-sm-2 control-label">image</label>

    <div class="col-sm-10">
        <input name="image" type="text" class="form-control" value="<%= line.image %>"/>
    </div>
</div>
<div class="form-group">
    <label for="heavyCargoPrice" class="col-sm-2 control-label">heavyCargoPrice</label>

    <div class="col-sm-10">
        <input name="heavyCargoPrice" type="text" class="form-control" value="<%= line.heavyCargoPrice %>"/>
    </div>
</div>
<div class="form-group">
    <label for="foamGoodsPrice" class="col-sm-2 control-label">foamGoodsPrice</label>

    <div class="col-sm-10">
        <input name="foamGoodsPrice" type="text" class="form-control" value="<%= line.foamGoodsPrice %>"/>
    </div>
</div>
<div class="form-group">
    <label for="lineTypeCode" class="col-sm-2 control-label">lineTypeCode</label>

    <div class="col-sm-10">
        <input name="lineTypeCode" type="text" class="form-control" value="<%= line.lineTypeCode %>"/>
    </div>
</div>
<div class="form-group">
    <label for="lineType" class="col-sm-2 control-label">lineType</label>

    <div class="col-sm-10">
        <input name="lineType" type="text" class="form-control" value="<%= line.lineType %>"/>
    </div>
</div>
<div class="form-group">
    <label for="modeTransportCode" class="col-sm-2 control-label">modeTransportCode</label>

    <div class="col-sm-10">
        <input name="modeTransportCode" type="text" class="form-control" value="<%= line.modeTransportCode %>"/>
    </div>
</div>
<div class="form-group">
    <label for="modeTransport" class="col-sm-2 control-label">modeTransport</label>

    <div class="col-sm-10">
        <input name="modeTransport" type="text" class="form-control" value="<%= line.modeTransport %>"/>
    </div>
</div>
<div class="form-group">
    <label for="isDirect" class="col-sm-2 control-label">isDirect</label>

    <div class="col-sm-10">
        <input name="isDirect" type="text" class="form-control" value="<%= line.isDirect %>"/>
    </div>
</div>
<div class="form-group">
    <label for="transRateDay" class="col-sm-2 control-label">transRateDay</label>

    <div class="col-sm-10">
        <input name="transRateDay" type="number" class="span2" value="<%= line.transRateDay %>"/>
    </div>
</div>
<div class="form-group">
    <label for="transRateNumber" class="col-sm-2 control-label">transRateNumber</label>

    <div class="col-sm-10">
        <input name="transRateNumber" type="number" class="span2" value="<%= line.transRateNumber %>"/>
    </div>
</div>
<div class="form-group">
    <label for="isFrozen" class="col-sm-2 control-label">isFrozen</label>

    <div class="col-sm-10">
        <input name="isFrozen" type="number" class="span2" value="<%= line.isFrozen %>"/>
    </div>
</div>
<div class="form-group">
    <label for="lineGoodsType" class="col-sm-2 control-label">lineGoodsType</label>

    <div class="col-sm-10">
        <input name="lineGoodsType" type="text" class="form-control" value="<%= line.lineGoodsType %>"/>
    </div>
</div>
<div class="form-group">
    <label for="transTime" class="col-sm-2 control-label">transTime</label>

    <div class="col-sm-10">
        <input name="transTime" type="text" class="form-control" value="<%= line.transTime %>"/>
    </div>
</div>
<div class="form-group">
    <label for="startContact" class="col-sm-2 control-label">startContact</label>

    <div class="col-sm-10">
        <input name="startContact" type="text" class="form-control" value="<%= line.startContact %>"/>
    </div>
</div>
<div class="form-group">
    <label for="startAddress" class="col-sm-2 control-label">startAddress</label>

    <div class="col-sm-10">
        <textarea name="startAddress" rows="10" class="form-control"><%= line.startAddress %></textarea>
    </div>
</div>
<div class="form-group">
    <label for="startTel" class="col-sm-2 control-label">startTel</label>

    <div class="col-sm-10">
        <input name="startTel" type="text" class="form-control" value="<%= line.startTel %>"/>
    </div>
</div>
<div class="form-group">
    <label for="startPhone" class="col-sm-2 control-label">startPhone</label>

    <div class="col-sm-10">
        <input name="startPhone" type="text" class="form-control" value="<%= line.startPhone %>"/>
    </div>
</div>
<div class="form-group">
    <label for="endContact" class="col-sm-2 control-label">endContact</label>

    <div class="col-sm-10">
        <input name="endContact" type="text" class="form-control" value="<%= line.endContact %>"/>
    </div>
</div>
<div class="form-group">
    <label for="endAddress" class="col-sm-2 control-label">endAddress</label>

    <div class="col-sm-10">
        <textarea name="endAddress" rows="10" class="form-control"><%= line.endAddress %></textarea>
    </div>
</div>
<div class="form-group">
    <label for="endTel" class="col-sm-2 control-label">endTel</label>

    <div class="col-sm-10">
        <input name="endTel" type="text" class="form-control" value="<%= line.endTel %>"/>
    </div>
</div>
<div class="form-group">
    <label for="endPhone" class="col-sm-2 control-label">endPhone</label>

    <div class="col-sm-10">
        <input name="endPhone" type="text" class="form-control" value="<%= line.endPhone %>"/>
    </div>
</div>
<div class="form-group">
    <label for="valid" class="col-sm-2 control-label">valid</label>

    <div class="col-sm-10">
        <input name="valid" type="text" class="form-control" value="<%= line.valid %>"/>
    </div>
</div>
<div class="form-group">
    <label for="expiryDate" class="col-sm-2 control-label">expiryDate</label>

    <div class="col-sm-10">
        <input name="expiryDate" type="datetime" class="span3" value="<%= line.expiryDate %>"/>
    </div>
</div>
<div class="form-group">
    <label for="status" class="col-sm-2 control-label">status</label>

    <div class="col-sm-10">
        <input name="status" type="number" class="span2" value="<%= line.status %>"/>
    </div>
</div>
<div class="form-group">
    <label for="freeText" class="col-sm-2 control-label">freeText</label>

    <div class="col-sm-10">
        <textarea name="freeText" rows="10" class="form-control"><%= line.freeText %></textarea>
    </div>
</div>
<div class="form-group">
    <label for="eId" class="col-sm-2 control-label">eId</label>

    <div class="col-sm-10">
        <input name="eId" type="text" class="form-control" value="<%= line.eId %>"/>
    </div>
</div>
<div class="form-group">
    <label for="createrId" class="col-sm-2 control-label">createrId</label>

    <div class="col-sm-10">
        <input name="createrId" type="text" class="form-control" value="<%= line.createrId %>"/>
    </div>
</div>
<div class="form-group">
    <label for="updaterId" class="col-sm-2 control-label">updaterId</label>

    <div class="col-sm-10">
        <input name="updaterId" type="text" class="form-control" value="<%= line.updaterId %>"/>
    </div>
</div>
