<div class="container w1002 tn_margin" id="qiye">
    <div class="col-lg-2 col-md-2 col-sm-2 left_bar">
        <h4>信息共享</h4>
        <ul class="sub_nav">
            <li class="li_hover">
                <!--<span class="badge pull-right"><a class="wide_font" href="#">42</a></span>-->
                <a href="/line">专线信息</a>
            </li>
            <li><a href="#">仓库信息</a></li>
            <li><a href="#">港口信息</a></li>
            <li><a href="#">货场信息</a></li>
            <li><a href="#">货源信息</a></li>
            <li><a href="#">车源信息</a></li>
            <li><a href="#">铁路信息</a></li>
        </ul>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 youce">
        <div class="bg_pale_yellow">
            <div class="col-lg-12 col-md-12 col-sm-12 pad_topbot_change">
                <h4 class="lh h4_line">
                    <div class="w120 pull-left ts_padding">专线信息</div>
                    <div class="third_nav third_hover"><a href="#">全部信息</a></div>
                    <div class="third_nav"><a href="#">已发布</a></div>
                    <div class="third_nav"><a href="#">未发布</a></div>
                    <a href="/line/add" class="btn pull-right btn-info btn-sm">发布专线</a>
                </h4>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="line_search">
                <form class="navbar-form navbar-left" role="search">
                    <div class="w280 pull-left">
                        <div class="w60 pull-left ts_padding">出发地：</div>
                        <div class="w100 pull-left">
                            <select id="sProvince" name="sProvince" class="form-control min_hundred w100 input-sm">
                            </select>
                        </div>
                        <div class="w100 pull-left ln_margin">
                            <select id="sCity" name="sCity" class="form-control min_hundred w100 input-sm">
                            </select>
                        </div>
                        <div class="w100 pull-left ln_margin" style="display: none">
                            <select id="sArea" name="sArea" class="form-control min_hundred w100 input-sm">
                            </select>
                        </div>
                    </div>
                    <div class="w280 pull-left">
                        <div class="w60 pull-left ts_padding">目的地：</div>
                        <div class="w100 pull-left">
                            <select id="eProvince" name="eProvince" class="form-control min_hundred w100 input-sm">
                            </select>
                        </div>
                        <div class="w100 pull-left ln_margin">
                            <select id="eCity" name="eCity" class="form-control min_hundred w100 input-sm">
                            </select>
                        </div>
                        <div class="w100 pull-left ln_margin" style="display: none">
                            <select id="eArea" name="eArea" class="form-control min_hundred w100 input-sm">
                            </select>
                        </div>
                    </div>
                    <div class="pull-left w100"><input type="button" value="搜索" class="btn btn-success btn-sm"/></div>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('.info .info_item').hover(function () {
                    $('.info .info_item').removeClass('info_item_hover');
                    $(this).addClass('info_item_hover');
                });
            });
        </script>
        <div class="col-lg-12 col-dm-12 col-sm-12 info tn_margin">
            <% if(locals.lines && locals.lines.length){
                    lines.forEach(function(line){
            %>
            <div class="info_item">
                <div class="info_title">
                    <div class="w310 ln_padding pull-left">
                        <span class="pull-left"><%= line.sProvince + line.sCity %></span>
                        <% if(line.lineTypeCode == 1){ %>
                        <span class="zhida"><img src="images/zhida.png"/></span>
                        <span class="pull-left"><%= line.eProvince + line.eCity %>(直达)</span>
                        <% }else{ %>
                        <span class="zhida"><img src="images/wangfan.png"/></span>
                        <span class="pull-left"><%= line.eProvince + line.eCity %>(往返)</span>
                        <% } %>
                        <span class="clearfix"></span>
                    </div>
                    <!--<div class="w100 pull-left">-->
                    <!--<small>最新订单：<span class="text-primary">5</span></small>-->
                    <!--</div>-->
                    <div class="w200 pull-left">
                        <small>更新时间：<%= line.updatedAt %></small>
                    </div>
                    <div class="w100 pull-left">
                        <small class="dropdown">状态：
                            <a href="#" class="dropdown-toggle"
                               data-toggle="dropdown"><%= line.status %> <b class="caret"></b></a>
                            <ul class="dropdown-menu nav_bigdropdown">
                                <li><a href="#">已发布</a></li>
                                <li><a href="#">未发布</a></li>
                            </ul>
                        </small>
                    </div>
                    <div class="chaozuo pull-right">
                        <div class="shouqi pull-left"><a href="#"><img src="images/shouqi.png"></a></div>
                        <div class="delet pull-right"><a href="/line/delete/<%= line.id %>"><img src="images/delet.png"></a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="info_content">
                    <div class=" pull-left w145 tn_padding ln_padding bn_padding">
                        <a href="#"><img src="<%= line.image %>" width="135" height="100"></a>
                    </div>
                    <div class="pull-left w350 tn_padding rn_padding ln_padding lianxi">
                        <p>始发地址：<%= line.startAddress %></p>

                        <p>联系方式：<span
                                    class="text-primary"><%= line.startPhone %>    <%= line.startContact %></span>
                        </p>

                        <p>到达地址：<%= line.endAddress %></p>

                        <p>联系方式：<span class="text-primary"><%= line.endPhone %>    <%= line.endContact %></span></p>
                    </div>
                    <div class="pull-left w145 ln_padding tn_padding xijie">
                        <div class="w65 text-right pull-left">重货价格：</div>
                        <div class="pull-left"><%= line.heavyCargoPrice %></div>
                        <div class="w65 text-right pull-left">泡货价格：</div>
                        <div class="pull-left"><%= line.foamGoodsPrice %></div>
                        <span class="w65 text-right pull-left">运输方式：</span>

                        <div class="pull-left"><%= line.modeTransport %></div>
                        <span class="w65 text-right pull-left">发车班次：</span>

                        <div class="pull-left"><%= line.transRate %></div>
                        <span class="w65 text-right pull-left">在途时间：</span>

                        <div class="pull-left"><%= line.transTime %></div>
                    </div>
                    <div class="pull-right w80 tl_padding">
                        <input class="btn btn-info" type="button" value="查看">
                        <input class="btn btn-warning tn_margin" type="button" value="修改">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <% })}else{ %>
            <div class="info_item">
                <div class="col-lg-12 tl_padding bl_padding text-danger text-center">您还没有发布信息哦，<a href="/line/add">赶快去发布信息</a>
                </div>
            </div>
            <% } %>

            <!--<div class="col-lg-5 col-sm-offset-4">-->
            <!--<ul class="pagination">-->
            <!--<li class="disabled">-->
            <!--<a href="#">«</a>-->
            <!--</li>-->
            <!--<li class="active">-->
            <!--<a href="#">-->
            <!--1-->
            <!--<span class="sr-only">(current)</span>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="#">2</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="#">3</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="#">4</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="#">5</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="#">»</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
        </div>
    </div>
</div>
<script src="/js/jquery.provincesCity.js" type="text/javascript"></script>
<script src="/js/core/city.js" type="text/javascript"></script>
<script type="text/javascript">
    //调用插件
    $(function () {
        $.ProvinceCity('sProvince', 'sCity', 'sArea', function (selectProvince, selectCity, selectArea) {
        });
        $.ProvinceCity('eProvince', 'eCity', 'eArea', function (selectProvince, selectCity, selectArea) {
        });
    });
</script>