<div class="banner">
    <div class="banner_con">
        <dl class="banner_top">
            <a href="/">
                <dt class="banner_title"></dt>
            </a>
            <dd class="banner_huo">
                <p class="banner_com margin-46">
                    <a href="http://guanjia.jt56.org/butler/carinfoController/carinfo" class="banner_che"></a>
                    <a href="http://guanjia.jt56.org/butler/carinfoController/carinfo" class="banner_txt">发布车源</a>
                </p>

                <p class="banner_com margin-46">
                    <a href="http://guanjia.jt56.org/butler/pubGoods/view" class="ban_huo"></a>
                    <a href="http://guanjia.jt56.org/butler/pubGoods/view" class="banner_txt">发布货源</a>
                </p>

                <p class="banner_com margin-17">
                    <a href="http://guanjia.jt56.org/" class="ban_com"></a>
                    <a href="http://guanjia.jt56.org/" class="banner_txt">企业入驻</a>
                </p>
            </dd>
        </dl>
    </div>
</div>
<div class="w screening">
    <div class="til">
        <%- partial("layouts/info_nav", {current_url: "/store"}) %>
        <div class="line_detail">
            <p class="line_mess">当前位置：<a href="/">首页 </a>&gt;<a href="/store"> 仓储 </a>&gt; <span class="line_topic"><%= store.attrs.storename %>信息详情</span></p>
            <div class="line_addr">
                <%= store.attrs.storename %>
                <p class="update">更新时间：<%= DateFormat.Format(store.attrs.date * 1000) %></p>
            </div>
            <dl class="detail_con">
                <dt class="detail_img"><img src="<%= store.attrs.image ? store.attrs.image : '/images/no-store.jpg' %>" width="367"
                                            height="264"/></dt>
                <dd class="detail_txt" style="display: none">
                    <p class="detail_p">要查看详细联系方式请：</p>

                    <p class="detail_p"><a id="login_url" href="#" class="detail_blue">登录</a> 或 <a href="http://guanjia.jt56.org/butler/userRegister/register"
                                                                                                   class="detail_blue">免费注册</a>
                    </p>
                </dd>
                <dd class="detail_txt1" style="display: none">
                    <%
                    if(store.attrs.enterprise)
                    {
                            if(store.attrs.enterprise.enterprisename)
                    {
                    %>
                    <p class="detail_p"><span class="detail_p1">企业名称：</span><span
                                class="detail_p2"><%= store.attrs.enterprise.enterprisename %></span>
                    </p>
                    <%
                    }
                    if(store.attrs.contact)
                    {
                    %>
                    <p class="detail_p"><span class="detail_p1">联 系 人：</span><span
                                class="detail_p2"><%= store.attrs.contact %></span></p>
                    <%
                    }
                    if(store.attrs.phone)
                    {
                    %>
                    <p class="detail_p"><span class="detail_p1">联系电话：</span><span
                                class="detail_p2"><%= store.attrs.phone + (store.attrs.tel ? '/' + store.attrs.tel : '') %></span>
                    </p>
                    <%
                    }
                    if(store.attrs.city)
                    {
                    %>
                    <p class="detail_p"><span class="detail_p1">联系地址：</span><span
                                class="detail_p2"><%= store.attrs.city + store.attrs.address %></span></p>
                    <%
                    }
                    %>
                    <p class="credentials"><span class="detail_p3">企业资质：</span>
                        <%
                        if(store.attrs.enterprise.bizlic && store.attrs.enterprise.bizlic.status == 1)
                        {
                        %>
                        <span class="com_img margin-5"><img src="/images/center_com1.png" title="营业执照" width="32"
                                                            height="23"/></span>
                        <%
                        }
                        else
                        {
                        %>
                        <span class="com_img margin-5"><img src="/images/center_com1.png" title="营业执照" width="32"
                                                            height="23"
                                                            class="grayscale"/></span>
                        <%
                        }

                                if(store.attrs.enterprise.orgcodelic && store.attrs.enterprise.orgcodelic.status == 1)
                        {
                        %>
                        <span class="com_img margin-5"><img src="/images/center_com2.png" title="组织机构代码证" width="32"
                                                            height="23"/></span>
                        <%
                        }
                        else
                        {
                        %>
                        <span class="com_img margin-5"><img src="/images/center_com2.png" title="组织机构代码证" width="32"
                                                            height="23"
                                                            class="grayscale"/></span>
                        <%
                        }

                                if(store.attrs.enterprise.taxlic && store.attrs.enterprise.taxlic.status == 1)
                        {
                        %>
                        <span class="com_img margin-5"><img src="/images/center_com3.png" title="税务登记证" width="32"
                                                            height="23"/></span>
                        <%
                        }
                        else
                        {
                        %>
                        <span class="com_img margin-5"><img src="/images/center_com3.png" title="税务登记证" width="32"
                                                            height="23"
                                                            class="grayscale"/></span>
                        <%
                        }

                                if(store.attrs.enterprise.transbizlic && store.attrs.enterprise.transbizlic.status == 1)
                        {
                        %>
                        <span class="com_img"><img src="/images/center_com4.png" title="企业道路运输营业许可证" width="32"
                                                   height="23"/></span>
                        <%
                        }
                        else
                        {
                        %>
                        <span class="com_img"><img src="/images/center_com4.png" title="企业道路运输营业许可证" width="32"
                                                   height="23"
                                                   class="grayscale"/></span>
                        <%
                        }
                        %>
                    </p>
                    <%
                    }
                    else
                    {
                    %>
                    <p class="credentials"><span class="detail_p3">企业资质：</span><span class="com_img margin-5"><img
                                    src="/images/center_com1.png" title="营业执照" width="32"
                                    height="23" class="grayscale"/></span><span
                                class="com_img margin-5"><img
                                    src="/images/center_com2.png" title="组织机构代码证" width="32" height="23"
                                    class="grayscale"/></span><span
                                class="com_img margin-5"><img src="/images/center_com3.png" title="税务登记证" width="32"
                                                              height="23" class="grayscale"/></span><span
                                class="com_img"><img src="/images/center_com4.png" title="企业道路运输营业许可证" width="32"
                                                     height="23" class="grayscale"/></span></p>
                    <%
                    }
                    %>
                </dd>
            </dl>
            <div class="detail_mess">
                <p class="xiangxi">详细信息</p>
                <ul class="detail_main">
                    <li class="detail_main_li"><span class="initiation">仓库类型：</span><span class="checi">
                            <%
                            info_dict.store_type.forEach(function (item, index) {
                                    if(item.id == store.attrs.storetypecode)
                            {
                            %>
                            <%= item.name %>
                            <%
                            }
                            });
                            %>
                    </span><span class="initiation">经营范围：</span><span class="checi">
                            <%
                            info_dict.business_scope.forEach(function (item, index) {
                                    if(item.id == store.attrs.businessscopecode)
                            {
                            %>
                            <%= item.name %>
                            <%
                            }
                            });
                            %>
                    </span></li>
                    <li class="detail_main_li"><span class="initiation">面    积：</span><span class="checi"><%= (store.attrs.storearea && store.attrs.storearea != 0) ? store.attrs.storearea + '㎡' : '不详' %></span>
                        <span class="initiation">可用面积：</span><span class="checi"><%= (store.attrs.usearea && store.attrs.usearea != 0) ? store.attrs.usearea + '㎡' : '不详' %></span></li>
                    <!--<li class="detail_main_li no-border"><span class="initiation">参考报价：</span><span class="checi">面议</span></li>-->
                </ul>
            </div>
            <%
            if(store.attrs.freetext)
            {
            %>
            <div class="detail_desc">
                <p class="xiangxi">仓库说明</p>
                <ul class="detail_main">
                    <li class="detail_desc_li">
                        <%= store.attrs.freetext %>
                    </li>
                </ul>
            </div>
            <%
            }
            %>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        setTimeout(function () {
            var userInfo = window.userInfo;
            if (!userInfo) {
                var current = window.location.href;
                var loginurl = topurl.login + "?service=" + current;
                $('.detail_txt1').hide();
                $('#login_url').attr('href', loginurl);
                $('.detail_txt').show();
            }
            else {
                $('.detail_txt1').show();
                $('.detail_txt').hide();
            }
        }, 500);
    });
</script>